In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np
import os
import sqlite3

In [2]:
# Preview data: loading a sample dataset to understand its structure
sample = pd.read_excel('Resources/2012_immsuptable1d.xls')
sample.head()

,Region and country of birth,Total,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,Texas,U.S. Armed Services Posts,U.S. Territories,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,REGION,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Total,1031631,3873,1612,18434,2795,196622,13327,12237,2208,...,95557,108,1559,5932,877,28227,23060,779,6049,427
2,Africa,107241,519,118,1517,129,7150,2471,1093,497,...,9513,8,8,514,142,5429,3160,124,768,34
3,Asia,429599,1784,910,6225,1077,107825,5003,3941,857,...,32341,67,694,2090,476,13748,12347,382,2773,161
4,Europe,81671,330,186,967,180,11121,1086,1952,156,...,3834,14,24,440,126,1945,2853,93,660,69

In [3]:
files = ['2012_immsuptable1d.xls', '2013_immsuptable1d.xls', '2014_immsuptable1d.xls',
         '2015_immsuptable1d.xls', '2016_immsuptable1d.xls', '2017_immsuptable1d.xlsx',
         '2018_immsuptable1d.xlsx', '2019_immsuptable1d.xlsx', '2020_immsuptable1d.xlsx',
         '2021_immsuptable1d.xlsx']

# Initialize DataFrame to store immigration data across all years
immigration_df = pd.DataFrame(columns=['Year'])

# Iterate over the files
for file in files:
    # Load file into DataFrame
    df = pd.read_excel('Resources/' + file)

    # Extract year from filename and add it as a column
    year = int(file[:4])
    df.insert(0, 'Year', year)

    # Concatenate this DataFrame with the master DataFrame
    immigration_df = pd.concat([immigration_df, df], ignore_index=True)

# Display the first 50 rows of the DataFrame
immigration_df.head(50)

,Year,Region and country of birth,Total,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,...,U.S. Territories,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming,U.S. Territories1,Unknown
0,2012,REGION,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2012,Total,1031631,3873,1612,18434,2795,196622,13327,12237,...,1559,5932,877,28227,23060,779,6049,427,NaN,NaN
2,2012,Africa,107241,519,118,1517,129,7150,2471,1093,...,8,514,142,5429,3160,124,768,34,NaN,NaN
3,2012,Asia,429599,1784,910,6225,1077,107825,5003,3941,...,694,2090,476,13748,12347,382,2773,161,NaN,NaN
4,2012,Europe,81671,330,186,967,180,11121,1086,1952,...,24,440,126,1945,2853,93,660,69,NaN,NaN
5,2012,North America,327771,995,272,9166,1315,63037,4140,3180,...,794,1821,83,4271,3823,104,1500,137,NaN,NaN
6,2012,Oceania,4742,7,37,83,9,1732,128,46,...,7,147,6,78,266,8,27,4,NaN,NaN
7,2012,South America,79401,232,88,460,79,5620,488,2016,...,25,917,43,2735,596,68,300,22,NaN,NaN
8,2012,Unknown,1206,6,1,16,6,137,11,9,...,7,3,1,21,15,-,21,-,NaN,NaN
9,2012,COUNTRY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2012,Total,1031631,3873,1612,18434,2795,196622,13327,12237,...,1559,5932,877,28227,23060,779,6049,427,NaN,NaN
11,2012,Afghanistan,1617,D,-,35,D,587,26,22,...,-,17,D,262,35,-,4,-,NaN,NaN
12,2012,Albania,3364,-,8,25,5,47,D,232,...,-,9,3,40,19,-,38,D,NaN,NaN
13,2012,Algeria,1369,3,-,4,-,188,32,13,...,-,D,-,55,19,-,10,-,NaN,NaN
14,2012,Andorra,D,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,NaN,NaN
15,2012,Angola,187,D,-,3,-,8,D,D,...,-,-,-,7,-,-,-,-,NaN,NaN
16,2012,Anguilla,23,D,-,-,-,-,D,-,...,6,-,-,-,-,-,-,-,NaN,NaN
17,2012,Antigua-Barbuda,337,D,-,D,-,5,-,5,...,37,-,-,6,-,-,D,-,NaN,NaN
18,2012,Argentina,4359,9,7,26,9,523,37,73,...,-,110,4,158,40,4,32,D,NaN,NaN
19,2012,Armenia,2681,D,D,5,D,1977,11,9,...,-,20,D,18,58,-,-,-,NaN,NaN
20,2012,Aruba,54,-,-,-,-,D,-,-,...,4,-,-,-,-,-,-,-,NaN,NaN
21,2012,Australia,2414,5,6,46,6,622,80,33,...,D,34,D,57,108,3,22,3,NaN,NaN
22,2012,Austria,407,3,D,5,-,87,5,4,...,D,3,D,14,18,D,3,-,NaN,NaN
23,2012,Azerbaijan,663,D,D,D,D,161,7,7,...,-,6,D,15,21,D,D,-,NaN,NaN
24,2012,Bahamas,619,9,-,3,4,22,-,8,...,-,-,-,9,D,-,D,-,NaN,NaN
25,2012,Bahrain,104,D,-,-,-,14,D,3,...,-,-,-,5,D,-,D,-,NaN,NaN
26,2012,Bangladesh,14705,68,4,47,7,812,49,203,...,6,4,D,572,45,7,15,D,NaN,NaN
27,2012,Barbados,460,-,-,D,-,8,D,6,...,5,-,-,8,D,D,D,-,NaN,NaN
28,2012,Belarus,1659,D,D,15,D,238,33,27,...,-,6,3,44,65,-,18,D,NaN,NaN
29,2012,Belgium,574,D,-,5,-,101,16,6,...,-,D,D,26,6,D,D,-,NaN,NaN
30,2012,Belize,847,D,-,4,D,278,3,6,...,-,4,D,10,9,-,D,-,NaN,NaN
31,2012,Benin,415,3,-,D,5,13,21,3,...,-,D,-,16,7,-,3,-,NaN,NaN
32,2012,Bermuda,85,4,-,-,4,3,-,3,...,-,-,-,D,D,-,-,-,NaN,NaN
33,2012,Bhutan,10198,-,24,370,-,144,511,45,...,-,165,172,384,296,-,55,-,NaN,NaN
34,2012,Bolivia,1948,5,D,12,3,160,15,7,...,-,24,-,679,13,D,5,D,NaN,NaN
35,2012,Bosnia-Herzegovina,815,D,-,25,-,51,18,20,...,-,12,8,32,23,D,8,-,NaN,NaN
36,2012,Botswana,80,D,-,4,-,4,D,D,...,-,-,-,-,-,-,6,-,NaN,NaN
37,2012,Brazil,11441,43,12,85,12,1162,82,405,...,D,160,10,228,166,12,41,6,NaN,NaN
38,2012,British Virgin Islands,39,-,D,D,-,D,-,-,...,13,-,-,-,-,-,-,-,NaN,NaN
39,2012,Brunei,19,-,-,-,-,5,-,-,...,-,-,-,D,-,-,D,-,NaN,NaN
40,2012,Bulgaria,2440,10,16,41,D,232,48,35,...,D,11,D,87,86,D,20,6,NaN,NaN
41,2012,Burkina Faso,558,4,-,D,D,9,9,6,...,-,-,-,12,5,3,11,-,NaN,NaN
42,2012,Burma,17383,6,4,321,35,1129,404,81,...,-,198,15,156,342,7,264,-,NaN,NaN
43,2012,Burundi,535,-,-,30,-,29,8,D,...,-,3,D,19,9,D,D,-,NaN,NaN
44,2012,Cambodia,2473,3,D,33,7,742,26,36,...,-,22,D,67,195,-,10,D,NaN,NaN
45,2012,Cameroon,3815,32,5,56,21,182,38,17,...,-,4,D,146,26,9,17,D,NaN,NaN
46,2012,Canada,12932,61,56,388,32,2038,292,153,...,D,159,43,223,821,15,91,21,NaN,NaN
47,2012,Cape Verde,1684,-,-,-,-,D,-,31,...,-,-,-,6,D,-,-,-,NaN,NaN
48,2012,Cayman Islands,44,D,-,-,-,D,-,-,...,-,-,-,D,-,-,-,-,NaN,NaN
49,2012,Central African Republic,116,-,-,7,-,D,3,-,...,-,7,-,D,D,-,-,-,NaN,NaN

In [4]:
# Clean up the DataFrame by replacing 'D' and '-' values with 0 and convert all to integer type
int_columns = immigration_df.columns.drop('Region and country of birth')
immigration_df[int_columns] = immigration_df[int_columns].replace({'D': 0, '-': 0}).fillna(0).astype(np.int64)
immigration_df.head()

,Year,Region and country of birth,Total,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,...,U.S. Territories,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming,U.S. Territories1,Unknown
0,2012,REGION,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2012,Total,1031631,3873,1612,18434,2795,196622,13327,12237,...,1559,5932,877,28227,23060,779,6049,427,0,0
2,2012,Africa,107241,519,118,1517,129,7150,2471,1093,...,8,514,142,5429,3160,124,768,34,0,0
3,2012,Asia,429599,1784,910,6225,1077,107825,5003,3941,...,694,2090,476,13748,12347,382,2773,161,0,0
4,2012,Europe,81671,330,186,967,180,11121,1086,1952,...,24,440,126,1945,2853,93,660,69,0,0

In [5]:
# replacing NaN values with 0
immigration_df = immigration_df.fillna(0)

In [6]:
# Drop unnecessary columns
immigration_df = immigration_df.drop(['U.S. Armed Services Posts', 'U.S. Territories', 'U.S. Territories1', 'Unknown'], axis=1)

In [7]:
# Rename 'Total' column to 'Total Permanent Residents'
immigration_df.rename(columns={'Total': 'Total Permanent Residents'}, inplace=True)

In [8]:
# Remove duplicate entries. This is necessary as each file contains two 'Total' rows.
immigration_df = immigration_df.drop_duplicates(subset=["Year", "Region and country of birth"])

In [9]:
# Add a new column named 'Percentage' after 'Total Permanent Residents' column
immigration_df.insert(immigration_df.columns.get_loc('Total Permanent Residents') + 1, 'Percentage', 0)

In [10]:
# Get unique years from the 'Year' column in immigration_df DataFrame
years = immigration_df['Year'].unique()

for year in years:
    # Calculate total permanent residents for the given year
    total_residents = immigration_df.loc[(immigration_df['Region and country of birth'].str.contains('Total')) & 
                                         (immigration_df['Year'] == year), 'Total Permanent Residents'].values
    
    # Calculate the percentage of residents per region/country with respect to the total for the given year, and store it in the 'Percentage' column
    immigration_df.loc[immigration_df['Year'] == year, 'Percentage'] = \
        (immigration_df.loc[immigration_df['Year'] == year, 'Total Permanent Residents'] / total_residents) * 100
    
    # Round the 'Percentage' values to two decimal places for the given year
    immigration_df.loc[immigration_df['Year'] == year, 'Percentage'] = \
        immigration_df.loc[immigration_df['Year'] == year, 'Percentage'].round(2)
    
immigration_df.head(50)

,Year,Region and country of birth,Total Permanent Residents,Percentage,Alabama,Alaska,Arizona,Arkansas,California,Colorado,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,2012,REGION,0,0.00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2012,Total,1031631,100.00,3873,1612,18434,2795,196622,13327,...,1521,8573,95557,5932,877,28227,23060,779,6049,427
2,2012,Africa,107241,10.40,519,118,1517,129,7150,2471,...,546,1847,9513,514,142,5429,3160,124,768,34
3,2012,Asia,429599,41.64,1784,910,6225,1077,107825,5003,...,715,3956,32341,2090,476,13748,12347,382,2773,161
4,2012,Europe,81671,7.92,330,186,967,180,11121,1086,...,75,556,3834,440,126,1945,2853,93,660,69
5,2012,North America,327771,31.77,995,272,9166,1315,63037,4140,...,158,1775,45127,1821,83,4271,3823,104,1500,137
6,2012,Oceania,4742,0.46,7,37,83,9,1732,128,...,7,46,226,147,6,78,266,8,27,4
7,2012,South America,79401,7.70,232,88,460,79,5620,488,...,20,370,4431,917,43,2735,596,68,300,22
8,2012,Unknown,1206,0.12,6,1,16,6,137,11,...,0,23,85,3,1,21,15,0,21,0
9,2012,COUNTRY,0,0.00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,2012,Afghanistan,1617,0.16,0,0,35,0,587,26,...,3,7,53,17,0,262,35,0,4,0
12,2012,Albania,3364,0.33,0,8,25,5,47,0,...,0,15,65,9,3,40,19,0,38,0
13,2012,Algeria,1369,0.13,3,0,4,0,188,32,...,0,0,75,0,0,55,19,0,10,0
14,2012,Andorra,0,0.00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,2012,Angola,187,0.02,0,0,3,0,8,0,...,0,0,23,0,0,7,0,0,0,0
16,2012,Anguilla,23,0.00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,2012,Antigua-Barbuda,337,0.03,0,0,0,0,5,0,...,0,0,9,0,0,6,0,0,0,0
18,2012,Argentina,4359,0.42,9,7,26,9,523,37,...,0,29,309,110,4,158,40,4,32,0
19,2012,Armenia,2681,0.26,0,0,5,0,1977,11,...,0,5,21,20,0,18,58,0,0,0
20,2012,Aruba,54,0.01,0,0,0,0,0,0,...,0,0,3,0,0,0,0,0,0,0
21,2012,Australia,2414,0.23,5,6,46,6,622,80,...,5,29,147,34,0,57,108,3,22,3
22,2012,Austria,407,0.04,3,0,5,0,87,5,...,0,0,21,3,0,14,18,0,3,0
23,2012,Azerbaijan,663,0.06,0,0,0,0,161,7,...,0,6,60,6,0,15,21,0,0,0
24,2012,Bahamas,619,0.06,9,0,3,4,22,0,...,0,7,19,0,0,9,0,0,0,0
25,2012,Bahrain,104,0.01,0,0,0,0,14,0,...,0,0,9,0,0,5,0,0,0,0
26,2012,Bangladesh,14705,1.43,68,4,47,7,812,49,...,0,56,682,4,0,572,45,7,15,0
27,2012,Barbados,460,0.04,0,0,0,0,8,0,...,0,0,10,0,0,8,0,0,0,0
28,2012,Belarus,1659,0.16,0,0,15,0,238,33,...,0,4,31,6,3,44,65,0,18,0
29,2012,Belgium,574,0.06,0,0,5,0,101,16,...,0,3,46,0,0,26,6,0,0,0
30,2012,Belize,847,0.08,0,0,4,0,278,3,...,0,5,80,4,0,10,9,0,0,0
31,2012,Benin,415,0.04,3,0,0,5,13,21,...,0,4,16,0,0,16,7,0,3,0
32,2012,Bermuda,85,0.01,4,0,0,4,3,0,...,0,0,3,0,0,0,0,0,0,0
33,2012,Bhutan,10198,0.99,0,24,370,0,144,511,...,163,204,914,165,172,384,296,0,55,0
34,2012,Bolivia,1948,0.19,5,0,12,3,160,15,...,0,0,102,24,0,679,13,0,5,0
35,2012,Bosnia-Herzegovina,815,0.08,0,0,25,0,51,18,...,3,12,48,12,8,32,23,0,8,0
36,2012,Botswana,80,0.01,0,0,4,0,4,0,...,0,0,7,0,0,0,0,0,6,0
37,2012,Brazil,11441,1.11,43,12,85,12,1162,82,...,5,62,521,160,10,228,166,12,41,6
38,2012,British Virgin Islands,39,0.00,0,0,0,0,0,0,...,0,0,3,0,0,0,0,0,0,0
39,2012,Brunei,19,0.00,0,0,0,0,5,0,...,0,0,5,0,0,0,0,0,0,0
40,2012,Bulgaria,2440,0.24,10,16,41,0,232,48,...,7,12,61,11,0,87,86,0,20,6
41,2012,Burkina Faso,558,0.05,4,0,0,0,9,9,...,0,0,37,0,0,12,5,3,11,0
42,2012,Burma,17383,1.69,6,4,321,35,1129,404,...,135,236,2602,198,15,156,342,7,264,0
43,2012,Burundi,535,0.05,0,0,30,0,29,8,...,10,20,105,3,0,19,9,0,0,0
44,2012,Cambodia,2473,0.24,3,0,33,7,742,26,...,0,13,227,22,0,67,195,0,10,0
45,2012,Cameroon,3815,0.37,32,5,56,21,182,38,...,0,20,410,4,0,146,26,9,17,0
46,2012,Canada,12932,1.25,61,56,388,32,2038,292,...,22,131,1142,159,43,223,821,15,91,21
47,2012,Cape Verde,1684,0.16,0,0,0,0,0,0,...,0,0,0,0,0,6,0,0,0,0
48,2012,Cayman Islands,44,0.00,0,0,0,0,0,0,...,0,0,4,0,0,0,0,0,0,0
49,2012,Central African Republic,116,0.01,0,0,7,0,0,3,...,0,0,10,7,0,0,0,0,0,0
50,2012,Chad,155,0.02,0,0,4,0,9,6,...,11,0,19,0,0,7,4,0,0,0

In [11]:
# Find the top 20 countries by percentage of total immigration for each year
years = immigration_df['Year'].unique()
for year in years:
    
    # Filter the rows for the current year and exclude rows with "Total" in the "Region and country of birth" column
    filtered_df = immigration_df[(immigration_df['Year'] == year) &
                                 (~immigration_df['Region and country of birth'].str.contains('Total', na=False))]
    
    # Exclude rows with region/country names in the excluded_regions list
    filtered_df = filtered_df[~filtered_df['Region and country of birth'].isin(
        ['Africa', 'Asia', 'Europe', 'North America', 'Oceania', 'South America', 'Unknown'])]
    
    # Sort the DataFrame by the "Percentage" column in descending order and select the top 20 rows
    top_20 = filtered_df.nlargest(20, 'Percentage')
    
    # Display the year, region/country, percentage and 'Total Permanent Residents' columns
    print(f"Year: {year}")
    print(top_20[['Region and country of birth', 'Percentage', 'Total Permanent Residents']])
    print()

Year: 2012
    Region and country of birth  Percentage  Total Permanent Residents
135                      Mexico       14.19                     146406
52     China, People's Republic        7.93                      81784
98                        India        6.44                      66434
163                 Philippines        5.56                      57327
67           Dominican Republic        4.03                      41566
60                         Cuba        3.18                      32820
220                     Vietnam        2.74                      28304
93                        Haiti        2.21                      22818
53                     Colombia        2.03                      20931
112                Korea, South        2.02                      20846
105                     Jamaica        2.01                      20705
101                        Iraq        1.97                      20369
42                        Burma        1.69                      17383
71                  El Salvador        1.58                      16256
26                   Bangladesh        1.43                      14705
157                    Pakistan        1.43                      14740
75                     Ethiopia        1.41                      14544
153                     Nigeria        1.32                      13575
46                       Canada        1.25                      12932
100                        Iran        1.25                      12916

Year: 2013
    Region and country of birth  Percentage  Total Permanent Residents
367                      Mexico       13.63                     135028
284    China, People's Republic        7.25                      71798
330                       India        6.91                      68458
394                 Philippines        5.50                      54446
299          Dominican Republic        4.17                      41311
292                        Cuba        3.25                      32219
451                     Vietnam        2.74                      27101
344                Korea, South        2.34                      23166
285                    Colombia        2.13                      21131
324                       Haiti        2.05                      20351
337                     Jamaica        1.96                      19400
303                 El Salvador        1.84                      18260
384                     Nigeria        1.40                      13840
388                    Pakistan        1.34                      13251
278                      Canada        1.33                      13181
307                    Ethiopia        1.32                      13097
377                       Nepal        1.32                      13046
445              United Kingdom        1.31                      12984
332                        Iran        1.30                      12863
274                       Burma        1.27                      12565

Year: 2014
    Region and country of birth  Percentage  Total Permanent Residents
600                      Mexico       13.19                     134052
563                       India        7.66                      77908
512    China, People's Republic        7.49                      76089
629                 Philippines        4.92                      49996
522                        Cuba        4.59                      46679
530          Dominican Republic        4.39                      44577
690                     Vietnam        2.98                      30283
577                Korea, South        2.01                      20423
534                 El Salvador        1.90                      19273
566                        Iraq        1.88                      19153
570                     Jamaica        1.87                      19026
623                    Pakistan        1.83                      18612
514                    Colombia        1.79                      18175
557                       Haiti        1.50                      15274
486                  Bangladesh        1.44                      14645
618                     Nigeria        1.26                      12828
611                       Nepal        1.22                      12357
538                    Ethiopia        1.21                      12300
684              United Kingdom        1.20                      12225
506                      Canada        1.14                      11586

Year: 2015
    Region and country of birth  Percentage  Total Permanent Residents
841                      Mexico       15.09                     158619
753    China, People's Republic        7.09                      74558
803                       India        6.10                      64116
869                 Philippines        5.37                      56478
763                        Cuba        5.18                      54396
771          Dominican Republic        4.82                      50610
929                     Vietnam        2.93                      30832
806                        Iraq        2.01                      21107
775                 El Salvador        1.85                      19487
863                    Pakistan        1.72                      18057
810                     Jamaica        1.68                      17642
755                    Colombia        1.65                      17316
817                Korea, South        1.63                      17138
798                       Haiti        1.61                      16967
727                  Bangladesh        1.29                      13570
805                        Iran        1.25                      13114
851                       Nepal        1.23                      12926
743                       Burma        1.22                      12808
747                      Canada        1.21                      12673
923              United Kingdom        1.20                      12592

Year: 2016
     Region and country of birth  Percentage  Total Permanent Residents
1075                      Mexico       14.75                     174534
990     China, People's Republic        6.91                      81772
1000                        Cuba        5.62                      66516
1038                       India        5.47                      64687
1008          Dominican Republic        5.17                      61161
1103                 Philippines        4.50                      53287
1161                     Vietnam        3.50                      41451
1033                       Haiti        1.99                      23584
1011                 El Salvador        1.98                      23449
1045                     Jamaica        1.97                      23350
1052                Korea, South        1.84                      21801
1097                    Pakistan        1.63                      19313
1041                        Iraq        1.60                      18904
965                   Bangladesh        1.58                      18723
992                     Colombia        1.57                      18610
1093                     Nigeria        1.22                      14380
976                       Brazil        1.17                      13812
1015                    Ethiopia        1.12                      13232
1034                    Honduras        1.12                      13302
1040                        Iran        1.12                      13298

Year: 2017
     Region and country of birth  Percentage  Total Permanent Residents
1309                      Mexico       15.13                     170581
1226    China, People's Republic        6.35                      71565
1234                        Cuba        5.77                      65028
1272                       India        5.36                      60394
1242          Dominican Republic        5.19                      58520
1337                 Philippines        4.36                      49147
1396                     Vietnam        3.39                      38231
1245                 El Salvador        2.23                      25109
1267                       Haiti        1.94                      21824
1279                     Jamaica        1.94                      21905
1185                 Afghanistan        1.73                      19538
1286                Korea, South        1.70                      19194
1227                    Colombia        1.59                      17956
1331                    Pakistan        1.54                      17408
1212                      Brazil        1.33                      14989
1201                  Bangladesh        1.30                      14693
1249                    Ethiopia        1.30                      14637
1275                        Iraq        1.26                      14203
1274                        Iran        1.22                      13791
1327                     Nigeria        1.20                      13539

Year: 2018
     Region and country of birth  Percentage  Total Permanent Residents
1545                      Mexico       14.76                     161858
1468                        Cuba        6.97                      76486
1459    China, People's Republic        5.95                      65214
1507                       India        5.46                      59821
1476          Dominican Republic        5.24                      57413
1573                 Philippines        4.31                      47258
1632                     Vietnam        3.09                      33834
1479                 El Salvador        2.58                      28326
1502                       Haiti        1.95                      21360
1514                     Jamaica        1.86                      20347
1521                Korea, South        1.61                      17676
1460                    Colombia        1.60                      17545
1567                    Pakistan        1.44                      15802
1434                  Bangladesh        1.43                      15717
1498                   Guatemala        1.43                      15638
1445                      Brazil        1.40                      15394
1609                       Syria        1.34                      14686
1510                        Iraq        1.31                      14351
1563                     Nigeria        1.27                      13952
1503                    Honduras        1.26                      13794

Year: 2019
     Region and country of birth  Percentage  Total Permanent Residents
1782                      Mexico       15.12                     156052
1695    China, People's Republic        6.03                      62248
1745                       India        5.28                      54495
1712          Dominican Republic        4.84                      49911
1809                 Philippines        4.45                      45920
1705                        Cuba        4.04                      41641
1865                     Vietnam        3.85                      39712
1715                 El Salvador        2.68                      27656
1752                     Jamaica        2.10                      21689
1681                      Brazil        1.92                      19825
1697                    Colombia        1.92                      19841
1759                Korea, South        1.79                      18479
1740                       Haiti        1.67                      17253
1741                    Honduras        1.54                      15901
1799                     Nigeria        1.54                      15888
1864                   Venezuela        1.52                      15720
1670                  Bangladesh        1.47                      15176
1803                    Pakistan        1.35                      13921
1736                   Guatemala        1.30                      13453
1857                     Ukraine        1.14                      11762

Year: 2020
     Region and country of birth  Percentage  Total Permanent Residents
2013                      Mexico       14.18                     100325
1977                       India        6.55                      46363
1929    China, People's Republic        5.86                      41483
1946          Dominican Republic        4.24                      30005
2098                     Vietnam        4.24                      29995
2041                 Philippines        3.60                      25491
1949                 El Salvador        2.53                      17907
1915                      Brazil        2.37                      16746
1938                        Cuba        2.31                      16367
1991                Korea, South        2.30                      16244
1984                     Jamaica        1.81                      12826
2031                     Nigeria        1.75                      12398
2097                   Venezuela        1.72                      12136
1930                    Colombia        1.69                      11989
1888                 Afghanistan        1.61                      11407
2035                    Pakistan        1.48                      10474
2090                     Ukraine        1.40                       9886
2092              United Kingdom        1.36                       9655
1924                      Canada        1.35                       9526
1972                       Haiti        1.32                       9338

Year: 2021
     Region and country of birth  Percentage  Total Permanent Residents
2246                      Mexico       14.49                     107230
2209                       India       12.63                      93450
2161    China, People's Republic        6.74                      49847
2275                 Philippines        3.72                      27511
2178          Dominican Republic        3.32                      24553
2170                        Cuba        3.12                      23077
2181                 El Salvador        2.52                      18668
2147                      Brazil        2.48                      18351
2330                     Vietnam        2.20                      16312
2162                    Colombia        2.07                      15293
2329                   Venezuela        1.95                      14412
2217                     Jamaica        1.80                      13357
2264                     Nigeria        1.77                      13100
2224                Korea, South        1.67                      12351
2203                       Haiti        1.55                      11456
2205                    Honduras        1.37                      10116
2156                      Canada        1.35                       9978
2269                    Pakistan        1.31                       9691
2121                 Afghanistan        1.28                       9488
2324              United Kingdom        1.25                       9229

In [19]:
# Define the countries to keep
immigration_df = immigration_df[immigration_df["Region and country of birth"].isin
                                (["Iran", "Mexico", "China, People's Republic", "Pakistan", "India",
                                  "United Kingdom", "Dominican Republic", "Philippines", "Total"])]

immigration_df

,Year,Region and country of birth,Total Permanent Residents,Percentage,Alabama,Alaska,Arizona,Arkansas,California,Colorado,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
1,2012,Total,1031631,100.00,3873,1612,18434,2795,196622,13327,...,1521,8573,95557,5932,877,28227,23060,779,6049,427
52,2012,"China, People's Republic",81784,7.93,299,49,676,169,22424,637,...,45,539,3203,273,69,1385,2017,64,467,27
67,2012,Dominican Republic,41566,4.03,17,91,33,5,171,33,...,0,39,220,23,5,157,32,11,51,3
98,2012,India,66434,6.44,330,18,978,320,13951,483,...,22,573,5844,159,36,2473,2180,66,632,15
100,2012,Iran,12916,1.25,26,4,223,13,6591,105,...,6,94,1160,75,0,567,361,16,23,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2211,2021,Iran,5734,0.77,21,0,86,17,2206,89,...,7,62,473,34,0,218,187,9,38,0
2246,2021,Mexico,107230,14.49,323,33,6859,610,31715,3131,...,66,809,25282,1374,6,586,2539,20,949,69
2269,2021,Pakistan,9691,1.31,31,0,59,41,1104,52,...,0,53,1464,25,0,784,166,17,57,3
2275,2021,Philippines,27511,3.72,152,190,555,129,6478,228,...,35,759,1680,154,26,648,737,69,236,27
2324,2021,United Kingdom,9229,1.25,48,13,179,59,1651,146,...,0,149,771,63,8,237,309,14,72,8

In [13]:
# Display the data type information for each column in the immigration_df DataFrame
immigration_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90 entries, 1 to 2324
Data columns (total 57 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year                         90 non-null     int64
 1   Region and country of birth  90 non-null     object
 2   Total Permanent Residents    90 non-null     int64
 3   Percentage                   90 non-null     float64
 4   Alabama                      90 non-null     int64
 5   Alaska                       90 non-null     int64
 6   Arizona                      90 non-null     int64
 7   Arkansas                     90 non-null     int64
 8   California                   90 non-null     int64
 9   Colorado                     90 non-null     int64
 10  Connecticut                  90 non-null     int64
 11  Delaware                     90 non-null     int64
 12  District of Columbia         90 non-null     int64
 13  Florida                      90 non-null     int64
 14  Georgia                      90 non-null     int64
 15  Guam                         90 non-null     int64
 16  Hawaii                       90 non-null     int64
 17  Idaho                        90 non-null     int64
 18  Illinois                     90 non-null     int64
 19  Indiana                      90 non-null     int64
 20  Iowa                         90 non-null     int64
 21  Kansas                       90 non-null     int64
 22  Kentucky                     90 non-null     int64
 23  Louisiana                    90 non-null     int64
 24  Maine                        90 non-null     int64
 25  Maryland                     90 non-null     int64
 26  Massachusetts                90 non-null     int64
 27  Michigan                     90 non-null     int64
 28  Minnesota                    90 non-null     int64
 29  Mississippi                  90 non-null     int64
 30  Missouri                     90 non-null     int64
 31  Montana                      90 non-null     int64
 32  Nebraska                     90 non-null     int64
 33  Nevada                       90 non-null     int64
 34  New Hampshire                90 non-null     int64
 35  New Jersey                   90 non-null     int64
 36  New Mexico                   90 non-null     int64
 37  New York                     90 non-null     int64
 38  North Carolina               90 non-null     int64
 39  North Dakota                 90 non-null     int64
 40  Ohio                         90 non-null     int64
 41  Oklahoma                     90 non-null     int64
 42  Oregon                       90 non-null     int64
 43  Pennsylvania                 90 non-null     int64
 44  Puerto Rico                  90 non-null     int64
 45  Rhode Island                 90 non-null     int64
 46  South Carolina               90 non-null     int64
 47  South Dakota                 90 non-null     int64
 48  Tennessee                    90 non-null     int64
 49  Texas                        90 non-null     int64
 50  Utah                         90 non-null     int64
 51  Vermont                      90 non-null     int64
 52  Virginia                     90 non-null     int64
 53  Washington                   90 non-null     int64
 54  West Virginia                90 non-null     int64
 55  Wisconsin                    90 non-null     int64
 56  Wyoming                      90 non-null     int64
dtypes: float64(1), int64(55), object(1)
memory usage: 40.8+ KB

In [14]:
# Save the final DataFrame to a new CSV file
immigration_df.to_csv('Resources/immigration_data_2012_2021.csv', index=False)

In [17]:
# Write the data to a SQLite database
# Create a connection to the SQLite database
conn = sqlite3.connect('Resources/immigration_data_sqlite.db')

# Write the data to a sqlite table
immigration_df.to_sql('immigration_data_sqlite', conn, if_exists='replace', index=False)

# Commit any changes and close the connection
conn.commit()
conn.close()

In [20]:
# Create a connection to the SQLite database to load the data and check if the data has been stored correctly
conn = sqlite3.connect('Resources/immigration_data_sqlite.db')

# Write a SQL query to load the data from the table in the SQLite database
immigration_df_sqlite = pd.read_sql_query("SELECT * from immigration_data_sqlite", conn)

# close the connection
conn.close()

# View the DataFrame
immigration_df_sqlite

,Year,Region and country of birth,Total Permanent Residents,Percentage,Alabama,Alaska,Arizona,Arkansas,California,Colorado,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,2012,Total,1031631,100.00,3873,1612,18434,2795,196622,13327,...,1521,8573,95557,5932,877,28227,23060,779,6049,427
1,2012,"China, People's Republic",81784,7.93,299,49,676,169,22424,637,...,45,539,3203,273,69,1385,2017,64,467,27
2,2012,Dominican Republic,41566,4.03,17,91,33,5,171,33,...,0,39,220,23,5,157,32,11,51,3
3,2012,India,66434,6.44,330,18,978,320,13951,483,...,22,573,5844,159,36,2473,2180,66,632,15
4,2012,Iran,12916,1.25,26,4,223,13,6591,105,...,6,94,1160,75,0,567,361,16,23,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,2021,Iran,5734,0.77,21,0,86,17,2206,89,...,7,62,473,34,0,218,187,9,38,0
86,2021,Mexico,107230,14.49,323,33,6859,610,31715,3131,...,66,809,25282,1374,6,586,2539,20,949,69
87,2021,Pakistan,9691,1.31,31,0,59,41,1104,52,...,0,53,1464,25,0,784,166,17,57,3
88,2021,Philippines,27511,3.72,152,190,555,129,6478,228,...,35,759,1680,154,26,648,737,69,236,27
89,2021,United Kingdom,9229,1.25,48,13,179,59,1651,146,...,0,149,771,63,8,237,309,14,72,8