In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np
import os
import sqlite3

In [2]:
# Preview data: loading a sample dataset to understand its structure
sample = pd.read_excel('Resources/2012_immsuptable1d.xls')
sample.head()

,Region and country of birth,Total,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,Texas,U.S. Armed Services Posts,U.S. Territories,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,REGION,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Total,1031631,3873,1612,18434,2795,196622,13327,12237,2208,...,95557,108,1559,5932,877,28227,23060,779,6049,427
2,Africa,107241,519,118,1517,129,7150,2471,1093,497,...,9513,8,8,514,142,5429,3160,124,768,34
3,Asia,429599,1784,910,6225,1077,107825,5003,3941,857,...,32341,67,694,2090,476,13748,12347,382,2773,161
4,Europe,81671,330,186,967,180,11121,1086,1952,156,...,3834,14,24,440,126,1945,2853,93,660,69

In [3]:
files = ['2005_immsuptable1d.xls','2006_immsuptable1d.xls',
         '2007_immsuptable1d.xls','2008_immsuptable1d.xls','2009_immsuptable1d.xls',
         '2010_immsuptable1d.xlsx','2011_immsuptable1d.xls',
         '2012_immsuptable1d.xls', '2013_immsuptable1d.xls', '2014_immsuptable1d.xls',
         '2015_immsuptable1d.xls', '2016_immsuptable1d.xls', '2017_immsuptable1d.xlsx',
         '2018_immsuptable1d.xlsx', '2019_immsuptable1d.xlsx', '2020_immsuptable1d.xlsx',
         '2021_immsuptable1d.xlsx']

# Initialize DataFrame to store immigration data across all years
immigration_df = pd.DataFrame(columns=['Year'])

# Iterate over the files
for file in files:
    # Load file into DataFrame
    df = pd.read_excel('Resources/' + file)

    # Extract year from filename and add it as a column
    year = int(file[:4])
    df.insert(0, 'Year', year)

    # Concatenate this DataFrame with the master DataFrame
    immigration_df = pd.concat([immigration_df, df], ignore_index=True)

# Display the first 50 rows of the DataFrame
immigration_df.head(50)

,Year,Region and country of birth,Total,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,...,Wyoming,U.S. Armed Services posts,U.S. possessions,Unknown,U.S. Armed Services Posts,U.S. Dependencies,Guam,Puerto Rico,U.S. Territories,U.S. Territories1
0,2005,REGION,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2005,Total,1122373,4200,1525,18988,2698,232023,11977,15335,...,321,128,5868,9,NaN,NaN,NaN,NaN,NaN,NaN
2,2005,Africa,85102,341,47,1229,115,6813,1300,900,...,D,D,25,-,NaN,NaN,NaN,NaN,NaN,NaN
3,2005,Asia,400135,1789,735,4418,952,106540,3519,4641,...,90,67,1683,4,NaN,NaN,NaN,NaN,NaN,NaN
4,2005,Europe,176569,695,366,2529,267,22806,2572,4094,...,86,26,170,1,NaN,NaN,NaN,NaN,NaN,NaN
5,2005,North America,345575,1049,272,10000,1213,84337,3810,2751,...,120,17,3161,2,NaN,NaN,NaN,NaN,NaN,NaN
6,2005,Oceania,6546,28,36,96,13,2142,139,71,...,D,D,14,2,NaN,NaN,NaN,NaN,NaN,NaN
7,2005,South America,103143,261,65,639,125,7616,622,2844,...,15,9,715,-,NaN,NaN,NaN,NaN,NaN,NaN
8,2005,Unknown,5303,37,4,77,13,1769,15,34,...,-,4,100,-,NaN,NaN,NaN,NaN,NaN,NaN
9,2005,COUNTRY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2005,Total,1122373,4200,1525,18988,2698,232023,11977,15335,...,321,128,5868,9,NaN,NaN,NaN,NaN,NaN,NaN
11,2005,Afghanistan,4749,5,-,244,D,1331,64,50,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
12,2005,Albania,5947,D,-,35,5,94,9,387,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
13,2005,Algeria,1115,4,-,11,-,180,18,7,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
14,2005,American Samoa,15,-,-,-,-,D,-,-,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
15,2005,Angola,188,-,D,14,D,7,-,7,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
16,2005,Anguilla,35,-,-,-,-,D,-,-,...,-,-,9,-,NaN,NaN,NaN,NaN,NaN,NaN
17,2005,Antigua-Barbuda,440,D,D,-,-,D,-,9,...,-,-,46,-,NaN,NaN,NaN,NaN,NaN,NaN
18,2005,Argentina,7081,6,3,50,15,868,72,119,...,D,-,133,-,NaN,NaN,NaN,NaN,NaN,NaN
19,2005,Armenia,2591,D,D,13,-,1969,20,7,...,-,-,D,-,NaN,NaN,NaN,NaN,NaN,NaN
20,2005,Aruba,42,-,-,-,-,D,-,D,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
21,2005,Australia,3193,16,14,57,5,557,84,55,...,D,D,10,2,NaN,NaN,NaN,NaN,NaN,NaN
22,2005,Austria,532,6,-,9,-,98,9,17,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
23,2005,Azerbaijan,1523,D,D,26,D,376,27,7,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
24,2005,Bahamas,698,5,-,3,D,14,D,8,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
25,2005,Bahrain,140,3,-,D,-,13,D,D,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
26,2005,Bangladesh,11487,27,-,84,14,781,33,159,...,-,-,9,-,NaN,NaN,NaN,NaN,NaN,NaN
27,2005,Barbados,846,D,D,D,-,18,D,18,...,-,-,D,-,NaN,NaN,NaN,NaN,NaN,NaN
28,2005,Belarus,3503,3,D,8,D,550,59,62,...,D,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
29,2005,Belgium,859,9,-,15,D,99,11,21,...,3,-,D,-,NaN,NaN,NaN,NaN,NaN,NaN
30,2005,Belize,876,D,D,6,D,316,5,D,...,4,-,4,-,NaN,NaN,NaN,NaN,NaN,NaN
31,2005,Benin,193,-,-,-,-,11,5,D,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
32,2005,Bermuda,116,D,-,-,-,7,D,D,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
33,2005,Bhutan,30,-,-,D,-,3,D,-,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
34,2005,Bolivia,2197,D,-,12,3,203,15,12,...,D,-,9,-,NaN,NaN,NaN,NaN,NaN,NaN
35,2005,Bosnia-Herzegovina,14074,18,13,512,-,396,176,570,...,-,-,D,-,NaN,NaN,NaN,NaN,NaN,NaN
36,2005,Botswana,54,D,-,-,-,6,D,-,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
37,2005,Brazil,16664,73,7,108,24,1362,107,743,...,D,-,22,-,NaN,NaN,NaN,NaN,NaN,NaN
38,2005,British Virgin Islands,41,-,-,-,-,D,-,D,...,-,-,9,-,NaN,NaN,NaN,NaN,NaN,NaN
39,2005,Brunei,49,-,-,-,-,14,-,-,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
40,2005,Bulgaria,5635,16,6,74,12,611,93,53,...,4,-,D,-,NaN,NaN,NaN,NaN,NaN,NaN
41,2005,Burkina Faso,128,-,-,D,-,4,3,D,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
42,2005,Burma,2095,-,3,28,-,739,11,9,...,-,D,D,-,NaN,NaN,NaN,NaN,NaN,NaN
43,2005,Burundi,186,-,-,12,-,4,7,9,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
44,2005,Cambodia,4022,4,-,47,-,1274,46,45,...,D,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
45,2005,Cameroon,1458,7,D,20,4,80,8,10,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
46,2005,Canada,21878,196,82,769,82,2670,432,335,...,28,D,D,2,NaN,NaN,NaN,NaN,NaN,NaN
47,2005,Cape Verde,1225,-,-,-,-,4,-,51,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
48,2005,Cayman Islands,37,-,-,D,-,-,D,-,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
49,2005,Central African Republic,24,-,-,-,-,3,-,D,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Clean up the DataFrame by replacing 'D' and '-' values with 0 and convert all to integer type
int_columns = immigration_df.columns.drop('Region and country of birth')
immigration_df[int_columns] = immigration_df[int_columns].replace({'D': 0, '-': 0}).fillna(0).astype(np.int64)
immigration_df.head()

,Year,Region and country of birth,Total,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,...,Wyoming,U.S. Armed Services posts,U.S. possessions,Unknown,U.S. Armed Services Posts,U.S. Dependencies,Guam,Puerto Rico,U.S. Territories,U.S. Territories1
0,2005,REGION,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2005,Total,1122373,4200,1525,18988,2698,232023,11977,15335,...,321,128,5868,9,0,0,0,0,0,0
2,2005,Africa,85102,341,47,1229,115,6813,1300,900,...,0,0,25,0,0,0,0,0,0,0
3,2005,Asia,400135,1789,735,4418,952,106540,3519,4641,...,90,67,1683,4,0,0,0,0,0,0
4,2005,Europe,176569,695,366,2529,267,22806,2572,4094,...,86,26,170,1,0,0,0,0,0,0

In [5]:
# replacing NaN values with 0
immigration_df = immigration_df.fillna(0)

In [6]:
# Drop unnecessary columns
immigration_df = immigration_df.drop(['U.S. Armed Services Posts', 'U.S. Territories', 'U.S. Territories1', 'Unknown'], axis=1)

In [7]:
# Rename 'Total' column to 'Total Permanent Residents'
immigration_df.rename(columns={'Total': 'Total Permanent Residents'}, inplace=True)

In [8]:
# Remove duplicate entries. This is necessary as each file contains two 'Total' rows.
immigration_df = immigration_df.drop_duplicates(subset=["Year", "Region and country of birth"])

In [9]:
# Add a new column named 'Percentage' after 'Total Permanent Residents' column
immigration_df.insert(immigration_df.columns.get_loc('Total Permanent Residents') + 1, 'Percentage', 0)

In [10]:
# Get unique years from the 'Year' column in immigration_df DataFrame
years = immigration_df['Year'].unique()

for year in years:
    # Calculate total permanent residents for the given year
    total_residents = immigration_df.loc[(immigration_df['Region and country of birth'].str.contains('Total')) & 
                                         (immigration_df['Year'] == year), 'Total Permanent Residents'].values
    
    # Calculate the percentage of residents per region/country with respect to the total for the given year, and store it in the 'Percentage' column
    immigration_df.loc[immigration_df['Year'] == year, 'Percentage'] = \
        (immigration_df.loc[immigration_df['Year'] == year, 'Total Permanent Residents'] / total_residents) * 100
    
    # Round the 'Percentage' values to two decimal places for the given year
    immigration_df.loc[immigration_df['Year'] == year, 'Percentage'] = \
        immigration_df.loc[immigration_df['Year'] == year, 'Percentage'].round(2)
    
immigration_df.head(50)

,Year,Region and country of birth,Total Permanent Residents,Percentage,Alabama,Alaska,Arizona,Arkansas,California,Colorado,...,Virginia,Washington,West Virginia,Wisconsin,Wyoming,U.S. Armed Services posts,U.S. possessions,U.S. Dependencies,Guam,Puerto Rico
0,2005,REGION,0,0.00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2005,Total,1122373,100.00,4200,1525,18988,2698,232023,11977,...,27100,26482,847,7909,321,128,5868,0,0,0
2,2005,Africa,85102,7.58,341,47,1229,115,6813,1300,...,4398,2054,52,575,0,0,25,0,0,0
3,2005,Asia,400135,35.65,1789,735,4418,952,106540,3519,...,12229,9688,454,3020,90,67,1683,0,0,0
4,2005,Europe,176569,15.73,695,366,2529,267,22806,2572,...,3159,9731,158,2099,86,26,170,0,0,0
5,2005,North America,345575,30.79,1049,272,10000,1213,84337,3810,...,4456,4024,127,1733,120,17,3161,0,0,0
6,2005,Oceania,6546,0.58,28,36,96,13,2142,139,...,118,352,5,57,0,0,14,0,0,0
7,2005,South America,103143,9.19,261,65,639,125,7616,622,...,2710,596,51,395,15,9,715,0,0,0
8,2005,Unknown,5303,0.47,37,4,77,13,1769,15,...,30,37,0,30,0,4,100,0,0,0
9,2005,COUNTRY,0,0.00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,2005,Afghanistan,4749,0.42,5,0,244,0,1331,64,...,456,88,5,29,0,0,0,0,0,0
12,2005,Albania,5947,0.53,0,0,35,5,94,9,...,80,26,0,73,0,0,0,0,0,0
13,2005,Algeria,1115,0.10,4,0,11,0,180,18,...,54,21,0,10,0,0,0,0,0,0
14,2005,American Samoa,15,0.00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,2005,Angola,188,0.02,0,0,14,0,7,0,...,0,0,0,0,0,0,0,0,0,0
16,2005,Anguilla,35,0.00,0,0,0,0,0,0,...,0,0,0,0,0,0,9,0,0,0
17,2005,Antigua-Barbuda,440,0.04,0,0,0,0,0,0,...,6,0,0,0,0,0,46,0,0,0
18,2005,Argentina,7081,0.63,6,3,50,15,868,72,...,144,61,11,34,0,0,133,0,0,0
19,2005,Armenia,2591,0.23,0,0,13,0,1969,20,...,28,37,0,3,0,0,0,0,0,0
20,2005,Aruba,42,0.00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,2005,Australia,3193,0.28,16,14,57,5,557,84,...,71,128,5,35,0,0,10,0,0,0
22,2005,Austria,532,0.05,6,0,9,0,98,9,...,13,20,0,9,0,0,0,0,0,0
23,2005,Azerbaijan,1523,0.14,0,0,26,0,376,27,...,22,106,0,8,0,0,0,0,0,0
24,2005,Bahamas,698,0.06,5,0,3,0,14,0,...,9,0,0,0,0,0,0,0,0,0
25,2005,Bahrain,140,0.01,3,0,0,0,13,0,...,6,3,0,0,0,0,0,0,0,0
26,2005,Bangladesh,11487,1.02,27,0,84,14,781,33,...,385,50,9,25,0,0,9,0,0,0
27,2005,Barbados,846,0.08,0,0,0,0,18,0,...,19,0,0,0,0,0,0,0,0,0
28,2005,Belarus,3503,0.31,3,0,8,0,550,59,...,51,324,0,35,0,0,0,0,0,0
29,2005,Belgium,859,0.08,9,0,15,0,99,11,...,20,26,0,5,3,0,0,0,0,0
30,2005,Belize,876,0.08,0,0,6,0,316,5,...,11,4,0,0,4,0,4,0,0,0
31,2005,Benin,193,0.02,0,0,0,0,11,5,...,11,0,0,0,0,0,0,0,0,0
32,2005,Bermuda,116,0.01,0,0,0,0,7,0,...,8,0,0,0,0,0,0,0,0,0
33,2005,Bhutan,30,0.00,0,0,0,0,3,0,...,0,0,0,0,0,0,0,0,0,0
34,2005,Bolivia,2197,0.20,0,0,12,3,203,15,...,734,7,0,9,0,0,9,0,0,0
35,2005,Bosnia-Herzegovina,14074,1.25,18,13,512,0,396,176,...,318,291,0,273,0,0,0,0,0,0
36,2005,Botswana,54,0.00,0,0,0,0,6,0,...,0,0,0,0,0,0,0,0,0,0
37,2005,Brazil,16664,1.48,73,7,108,24,1362,107,...,189,156,6,74,0,0,22,0,0,0
38,2005,British Virgin Islands,41,0.00,0,0,0,0,0,0,...,0,0,0,0,0,0,9,0,0,0
39,2005,Brunei,49,0.00,0,0,0,0,14,0,...,0,0,0,0,0,0,0,0,0,0
40,2005,Bulgaria,5635,0.50,16,6,74,12,611,93,...,166,196,3,51,4,0,0,0,0,0
41,2005,Burkina Faso,128,0.01,0,0,0,0,4,3,...,13,5,0,0,0,0,0,0,0,0
42,2005,Burma,2095,0.19,0,3,28,0,739,11,...,67,30,3,29,0,0,0,0,0,0
43,2005,Burundi,186,0.02,0,0,12,0,4,7,...,10,5,0,0,0,0,0,0,0,0
44,2005,Cambodia,4022,0.36,4,0,47,0,1274,46,...,100,298,0,13,0,0,0,0,0,0
45,2005,Cameroon,1458,0.13,7,0,20,4,80,8,...,70,5,0,10,0,0,0,0,0,0
46,2005,Canada,21878,1.95,196,82,769,82,2670,432,...,372,1145,18,303,28,0,0,0,0,0
47,2005,Cape Verde,1225,0.11,0,0,0,0,4,0,...,4,0,0,0,0,0,0,0,0,0
48,2005,Cayman Islands,37,0.00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49,2005,Central African Republic,24,0.00,0,0,0,0,3,0,...,0,0,0,0,0,0,0,0,0,0
50,2005,Chad,31,0.00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
# Find the top 20 countries by percentage of total immigration for each year
years = immigration_df['Year'].unique()
for year in years:
    
    # Filter the rows for the current year and exclude rows with "Total" in the "Region and country of birth" column
    filtered_df = immigration_df[(immigration_df['Year'] == year) &
                                 (~immigration_df['Region and country of birth'].str.contains('Total', na=False))]
    
    # Exclude rows with region/country names in the excluded_regions list
    filtered_df = filtered_df[~filtered_df['Region and country of birth'].isin(
        ['Africa', 'Asia', 'Europe', 'North America', 'Oceania', 'South America', 'Unknown'])]
    
    # Sort the DataFrame by the "Percentage" column in descending order and select the top 20 rows
    top_20 = filtered_df.nlargest(20, 'Percentage')
    
    # Display the year, region/country, percentage and 'Total Permanent Residents' columns
    print(f"Year: {year}")
    print(top_20[['Region and country of birth', 'Percentage', 'Total Permanent Residents']])
    print()

Year: 2005
    Region and country of birth  Percentage  Total Permanent Residents
139                      Mexico       14.38                     161445
102                       India        7.54                      84681
52     China, People's Republic        6.23                      69967
167                 Philippines        5.41                      60748
61                         Cuba        3.23                      36261
225                     Vietnam        2.92                      32784
68           Dominican Republic        2.45                      27504
115                       Korea        2.37                      26562
53                     Colombia        2.28                      25571
217                     Ukraine        2.03                      22761
46                       Canada        1.95                      21878
71                  El Salvador        1.90                      21359
219              United Kingdom        1.76                      19800
109                     Jamaica        1.63                      18346
174                      Russia        1.61                      18083
93                    Guatemala        1.50                      16825
37                       Brazil        1.48                      16664
166                        Peru        1.40                      15676
168                      Poland        1.37                      15352
161                    Pakistan        1.33                      14926

Year: 2006
    Region and country of birth  Percentage  Total Permanent Residents
373                      Mexico       13.72                     173753
287    China, People's Republic        6.90                      87345
398                 Philippines        5.89                      74607
337                       India        4.85                      61369
297                        Cuba        3.60                      45614
289                    Colombia        3.41                      43151
304          Dominican Republic        3.01                      38069
307                 El Salvador        2.51                      31783
456                     Vietnam        2.42                      30695
344                     Jamaica        1.97                      24976
350                       Korea        1.93                      24386
328                   Guatemala        1.91                      24146
332                       Haiti        1.76                      22228
397                        Peru        1.72                      21718
281                      Canada        1.44                      18207
272                      Brazil        1.41                      17910
305                     Ecuador        1.38                      17490
392                    Pakistan        1.38                      17418
450              United Kingdom        1.36                      17207
399                      Poland        1.35                      17052

Year: 2007
    Region and country of birth  Percentage  Total Permanent Residents
602                      Mexico       14.12                     148640
519    China, People's Republic        7.28                      76655
629                 Philippines        6.90                      72596
566                       India        6.21                      65353
520                    Colombia        3.15                      33187
561                       Haiti        2.89                      30405
528                        Cuba        2.77                      29104
685                     Vietnam        2.73                      28691
535          Dominican Republic        2.66                      28024
579                       Korea        2.13                      22405
538                 El Salvador        2.01                      21127
573                     Jamaica        1.84                      19375
557                   Guatemala        1.70                      17908
628                        Peru        1.68                      17699
513                      Canada        1.47                      15495
679              United Kingdom        1.38                      14545
504                      Brazil        1.36                      14295
623                    Pakistan        1.28                      13492
542                    Ethiopia        1.21                      12786
618                     Nigeria        1.18                      12448

Year: 2008
    Region and country of birth  Percentage  Total Permanent Residents
832                      Mexico       17.16                     189989
746    China, People's Republic        7.25                      80271
795                       India        5.72                      63352
859                 Philippines        4.88                      54030
754                        Cuba        4.47                      49500
761          Dominican Republic        2.88                      31879
915                     Vietnam        2.84                      31497
747                    Colombia        2.73                      30213
808                     Korea 1        2.41                      26666
790                       Haiti        2.35                      26007
765                 El Salvador        1.78                      19659
853                    Pakistan        1.78                      19719
802                     Jamaica        1.67                      18477
786                   Guatemala        1.46                      16182
858                        Peru        1.37                      15184
740                      Canada        1.36                      15109
909              United Kingdom        1.30                      14348
797                        Iran        1.25                      13852
769                    Ethiopia        1.17                      12917
849                     Nigeria        1.13                      12475

Year: 2009
     Region and country of birth  Percentage  Total Permanent Residents
1068                      Mexico       14.58                     164920
979     China, People's Republic        5.68                      64238
1094                 Philippines        5.31                      60029
1030                       India        5.07                      57304
996           Dominican Republic        4.37                      49414
989                         Cuba        3.44                      38954
1151                     Vietnam        2.59                      29234
981                     Colombia        2.46                      27849
1044                Korea, South        2.29                      25859
1025                       Haiti        2.15                      24280
1037                     Jamaica        1.93                      21783
1088                    Pakistan        1.91                      21555
1000                 El Salvador        1.76                      19909
1032                        Iran        1.64                      18553
1093                        Peru        1.50                      16957
953                   Bangladesh        1.47                      16651
973                       Canada        1.43                      16140
1145              United Kingdom        1.39                      15748
1004                    Ethiopia        1.37                      15462
1084                     Nigeria        1.35                      15253

Year: 2010
     Region and country of birth  Percentage  Total Permanent Residents
1303                      Mexico       13.34                     139120
1214    China, People's Republic        6.80                      70863
1264                       India        6.63                      69162
1329                 Philippines        5.58                      58173
1230          Dominican Republic        5.17                      53870
1223                        Cuba        3.22                      33573
1384                     Vietnam        2.94                      30632
1258                       Haiti        2.17                      22582
1215                    Colombia        2.15                      22406
1278                Korea, South        2.13                      22227
1267                        Iraq        1.90                      19855
1271                     Jamaica        1.90                      19825
1233                 El Salvador        1.80                      18806
1323                    Pakistan        1.75                      18258
1188                  Bangladesh        1.42                      14819
1237                    Ethiopia        1.37                      14266
1328                        Peru        1.37                      14247
1266                        Iran        1.36                      14182
1208                      Canada        1.28                      13328
1320                     Nigeria        1.28                      13376

Year: 2011
     Region and country of birth  Percentage  Total Permanent Residents
1531                      Mexico       13.51                     143446
1446    China, People's Republic        8.19                      87016
1493                       India        6.50                      69013
1560                 Philippines        5.37                      57011
1462          Dominican Republic        4.34                      46109
1455                        Cuba        3.43                      36452
1615                     Vietnam        3.22                      34157
1507                Korea, South        2.15                      22824
1447                    Colombia        2.13                      22635
1488                       Haiti        2.08                      22111
1496                        Iraq        1.99                      21133
1500                     Jamaica        1.85                      19662
1465                 El Salvador        1.76                      18667
1420                  Bangladesh        1.57                      16707
1436                       Burma        1.56                      16518
1554                    Pakistan        1.46                      15546
1495                        Iran        1.40                      14822
1559                        Peru        1.32                      14064
1469                    Ethiopia        1.30                      13793
1440                      Canada        1.21                      12800

Year: 2012
     Region and country of birth  Percentage  Total Permanent Residents
1759                      Mexico       14.19                     146406
1676    China, People's Republic        7.93                      81784
1722                       India        6.44                      66434
1787                 Philippines        5.56                      57327
1691          Dominican Republic        4.03                      41566
1684                        Cuba        3.18                      32820
1844                     Vietnam        2.74                      28304
1717                       Haiti        2.21                      22818
1677                    Colombia        2.03                      20931
1736                Korea, South        2.02                      20846
1729                     Jamaica        2.01                      20705
1725                        Iraq        1.97                      20369
1666                       Burma        1.69                      17383
1695                 El Salvador        1.58                      16256
1650                  Bangladesh        1.43                      14705
1781                    Pakistan        1.43                      14740
1699                    Ethiopia        1.41                      14544
1777                     Nigeria        1.32                      13575
1670                      Canada        1.25                      12932
1724                        Iran        1.25                      12916

Year: 2013
     Region and country of birth  Percentage  Total Permanent Residents
1991                      Mexico       13.63                     135028
1908    China, People's Republic        7.25                      71798
1954                       India        6.91                      68458
2018                 Philippines        5.50                      54446
1923          Dominican Republic        4.17                      41311
1916                        Cuba        3.25                      32219
2075                     Vietnam        2.74                      27101
1968                Korea, South        2.34                      23166
1909                    Colombia        2.13                      21131
1948                       Haiti        2.05                      20351
1961                     Jamaica        1.96                      19400
1927                 El Salvador        1.84                      18260
2008                     Nigeria        1.40                      13840
2012                    Pakistan        1.34                      13251
1902                      Canada        1.33                      13181
1931                    Ethiopia        1.32                      13097
2001                       Nepal        1.32                      13046
2069              United Kingdom        1.31                      12984
1956                        Iran        1.30                      12863
1898                       Burma        1.27                      12565

Year: 2014
     Region and country of birth  Percentage  Total Permanent Residents
2224                      Mexico       13.19                     134052
2187                       India        7.66                      77908
2136    China, People's Republic        7.49                      76089
2253                 Philippines        4.92                      49996
2146                        Cuba        4.59                      46679
2154          Dominican Republic        4.39                      44577
2314                     Vietnam        2.98                      30283
2201                Korea, South        2.01                      20423
2158                 El Salvador        1.90                      19273
2190                        Iraq        1.88                      19153
2194                     Jamaica        1.87                      19026
2247                    Pakistan        1.83                      18612
2138                    Colombia        1.79                      18175
2181                       Haiti        1.50                      15274
2110                  Bangladesh        1.44                      14645
2242                     Nigeria        1.26                      12828
2235                       Nepal        1.22                      12357
2162                    Ethiopia        1.21                      12300
2308              United Kingdom        1.20                      12225
2130                      Canada        1.14                      11586

Year: 2015
     Region and country of birth  Percentage  Total Permanent Residents
2465                      Mexico       15.09                     158619
2377    China, People's Republic        7.09                      74558
2427                       India        6.10                      64116
2493                 Philippines        5.37                      56478
2387                        Cuba        5.18                      54396
2395          Dominican Republic        4.82                      50610
2553                     Vietnam        2.93                      30832
2430                        Iraq        2.01                      21107
2399                 El Salvador        1.85                      19487
2487                    Pakistan        1.72                      18057
2434                     Jamaica        1.68                      17642
2379                    Colombia        1.65                      17316
2441                Korea, South        1.63                      17138
2422                       Haiti        1.61                      16967
2351                  Bangladesh        1.29                      13570
2429                        Iran        1.25                      13114
2475                       Nepal        1.23                      12926
2367                       Burma        1.22                      12808
2371                      Canada        1.21                      12673
2547              United Kingdom        1.20                      12592

Year: 2016
     Region and country of birth  Percentage  Total Permanent Residents
2699                      Mexico       14.75                     174534
2614    China, People's Republic        6.91                      81772
2624                        Cuba        5.62                      66516
2662                       India        5.47                      64687
2632          Dominican Republic        5.17                      61161
2727                 Philippines        4.50                      53287
2785                     Vietnam        3.50                      41451
2657                       Haiti        1.99                      23584
2635                 El Salvador        1.98                      23449
2669                     Jamaica        1.97                      23350
2676                Korea, South        1.84                      21801
2721                    Pakistan        1.63                      19313
2665                        Iraq        1.60                      18904
2589                  Bangladesh        1.58                      18723
2616                    Colombia        1.57                      18610
2717                     Nigeria        1.22                      14380
2600                      Brazil        1.17                      13812
2639                    Ethiopia        1.12                      13232
2658                    Honduras        1.12                      13302
2664                        Iran        1.12                      13298

Year: 2017
     Region and country of birth  Percentage  Total Permanent Residents
2933                      Mexico       15.13                     170581
2850    China, People's Republic        6.35                      71565
2858                        Cuba        5.77                      65028
2896                       India        5.36                      60394
2866          Dominican Republic        5.19                      58520
2961                 Philippines        4.36                      49147
3020                     Vietnam        3.39                      38231
2869                 El Salvador        2.23                      25109
2891                       Haiti        1.94                      21824
2903                     Jamaica        1.94                      21905
2809                 Afghanistan        1.73                      19538
2910                Korea, South        1.70                      19194
2851                    Colombia        1.59                      17956
2955                    Pakistan        1.54                      17408
2836                      Brazil        1.33                      14989
2825                  Bangladesh        1.30                      14693
2873                    Ethiopia        1.30                      14637
2899                        Iraq        1.26                      14203
2898                        Iran        1.22                      13791
2951                     Nigeria        1.20                      13539

Year: 2018
     Region and country of birth  Percentage  Total Permanent Residents
3169                      Mexico       14.76                     161858
3092                        Cuba        6.97                      76486

In [12]:
# Define the countries to keep
immigration_df = immigration_df[immigration_df["Region and country of birth"].isin
                                (["Iran", "Mexico", "China, People's Republic", "Pakistan", "India",
                                  "United Kingdom", "Dominican Republic", "Philippines", "Total"])]

immigration_df

,Year,Region and country of birth,Total Permanent Residents,Percentage,Alabama,Alaska,Arizona,Arkansas,California,Colorado,...,Virginia,Washington,West Virginia,Wisconsin,Wyoming,U.S. Armed Services posts,U.S. possessions,U.S. Dependencies,Guam,Puerto Rico
1,2005,Total,1122373,100.00,4200,1525,18988,2698,232023,11977,...,27100,26482,847,7909,321,128,5868,0,0,0
52,2005,"China, People's Republic",69967,6.23,328,92,543,202,17668,765,...,1327,1508,101,593,28,13,184,0,0,0
68,2005,Dominican Republic,27504,2.45,5,42,22,0,82,6,...,90,18,6,39,0,0,2346,0,0,0
102,2005,India,84681,7.54,431,15,739,215,14724,516,...,2776,1747,133,876,0,0,24,0,0,0
104,2005,Iran,13887,1.24,48,4,285,9,7059,131,...,562,318,18,48,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3835,2021,Iran,5734,0.77,21,0,86,17,2206,89,...,218,187,9,38,0,0,0,0,0,0
3870,2021,Mexico,107230,14.49,323,33,6859,610,31715,3131,...,586,2539,20,949,69,0,0,0,0,39
3893,2021,Pakistan,9691,1.31,31,0,59,41,1104,52,...,784,166,17,57,3,0,0,0,0,0
3899,2021,Philippines,27511,3.72,152,190,555,129,6478,228,...,648,737,69,236,27,0,0,0,300,9
3948,2021,United Kingdom,9229,1.25,48,13,179,59,1651,146,...,237,309,14,72,8,0,0,0,0,0

In [13]:
# Display the data type information for each column in the immigration_df DataFrame
immigration_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 153 entries, 1 to 3948
Data columns (total 60 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year                         153 non-null    int64
 1   Region and country of birth  153 non-null    object
 2   Total Permanent Residents    153 non-null    int64
 3   Percentage                   153 non-null    float64
 4   Alabama                      153 non-null    int64
 5   Alaska                       153 non-null    int64
 6   Arizona                      153 non-null    int64
 7   Arkansas                     153 non-null    int64
 8   California                   153 non-null    int64
 9   Colorado                     153 non-null    int64
 10  Connecticut                  153 non-null    int64
 11  Delaware                     153 non-null    int64
 12  District of Columbia         153 non-null    int64
 13  Florida                      153 non-null    int64
 14  Georgia                      153 non-null    int64
 15  Hawaii                       153 non-null    int64
 16  Idaho                        153 non-null    int64
 17  Illinois                     153 non-null    int64
 18  Indiana                      153 non-null    int64
 19  Iowa                         153 non-null    int64
 20  Kansas                       153 non-null    int64
 21  Kentucky                     153 non-null    int64
 22  Louisiana                    153 non-null    int64
 23  Maine                        153 non-null    int64
 24  Maryland                     153 non-null    int64
 25  Massachusetts                153 non-null    int64
 26  Michigan                     153 non-null    int64
 27  Minnesota                    153 non-null    int64
 28  Mississippi                  153 non-null    int64
 29  Missouri                     153 non-null    int64
 30  Montana                      153 non-null    int64
 31  Nebraska                     153 non-null    int64
 32  Nevada                       153 non-null    int64
 33  New Hampshire                153 non-null    int64
 34  New Jersey                   153 non-null    int64
 35  New Mexico                   153 non-null    int64
 36  New York                     153 non-null    int64
 37  North Carolina               153 non-null    int64
 38  North Dakota                 153 non-null    int64
 39  Ohio                         153 non-null    int64
 40  Oklahoma                     153 non-null    int64
 41  Oregon                       153 non-null    int64
 42  Pennsylvania                 153 non-null    int64
 43  Rhode Island                 153 non-null    int64
 44  South Carolina               153 non-null    int64
 45  South Dakota                 153 non-null    int64
 46  Tennessee                    153 non-null    int64
 47  Texas                        153 non-null    int64
 48  Utah                         153 non-null    int64
 49  Vermont                      153 non-null    int64
 50  Virginia                     153 non-null    int64
 51  Washington                   153 non-null    int64
 52  West Virginia                153 non-null    int64
 53  Wisconsin                    153 non-null    int64
 54  Wyoming                      153 non-null    int64
 55  U.S. Armed Services posts    153 non-null    int64
 56  U.S. possessions             153 non-null    int64
 57  U.S. Dependencies            153 non-null    int64
 58  Guam                         153 non-null    int64
 59  Puerto Rico                  153 non-null    int64
dtypes: float64(1), int64(58), object(1)
memory usage: 72.9+ KB

In [14]:
# Save the final DataFrame to a new CSV file
immigration_df.to_csv('Resources/immigration_data_2012_2021.csv', index=False)

In [15]:
# Write the data to a SQLite database
# Create a connection to the SQLite database
conn = sqlite3.connect('Resources/immigration_data_sqlite.db')

# Write the data to a sqlite table
immigration_df.to_sql('immigration_data_sqlite', conn, if_exists='replace', index=False)

# Commit any changes and close the connection
conn.commit()
conn.close()

In [16]:
# Create a connection to the SQLite database to load the data and check if the data has been stored correctly
conn = sqlite3.connect('Resources/immigration_data_sqlite.db')

# Write a SQL query to load the data from the table in the SQLite database
immigration_df_sqlite = pd.read_sql_query("SELECT * from immigration_data_sqlite", conn)

# close the connection
conn.close()

# View the DataFrame
immigration_df_sqlite

,Year,Region and country of birth,Total Permanent Residents,Percentage,Alabama,Alaska,Arizona,Arkansas,California,Colorado,...,Virginia,Washington,West Virginia,Wisconsin,Wyoming,U.S. Armed Services posts,U.S. possessions,U.S. Dependencies,Guam,Puerto Rico
0,2005,Total,1122373,100.00,4200,1525,18988,2698,232023,11977,...,27100,26482,847,7909,321,128,5868,0,0,0
1,2005,"China, People's Republic",69967,6.23,328,92,543,202,17668,765,...,1327,1508,101,593,28,13,184,0,0,0
2,2005,Dominican Republic,27504,2.45,5,42,22,0,82,6,...,90,18,6,39,0,0,2346,0,0,0
3,2005,India,84681,7.54,431,15,739,215,14724,516,...,2776,1747,133,876,0,0,24,0,0,0
4,2005,Iran,13887,1.24,48,4,285,9,7059,131,...,562,318,18,48,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,2021,Iran,5734,0.77,21,0,86,17,2206,89,...,218,187,9,38,0,0,0,0,0,0
149,2021,Mexico,107230,14.49,323,33,6859,610,31715,3131,...,586,2539,20,949,69,0,0,0,0,39
150,2021,Pakistan,9691,1.31,31,0,59,41,1104,52,...,784,166,17,57,3,0,0,0,0,0
151,2021,Philippines,27511,3.72,152,190,555,129,6478,228,...,648,737,69,236,27,0,0,0,300,9
152,2021,United Kingdom,9229,1.25,48,13,179,59,1651,146,...,237,309,14,72,8,0,0,0,0,0