In [1]:
import numpy as np
import pandas as pd
import datetime as dt

In [2]:
immigration_data_2012_2021 = "Resources/immigration_data_2012_2021.csv"
state_unemployment = "Resources/emp-unemployment.xls"
gini = "Resources/gini_index_by_state_2016_2018.xlsx"

In [3]:
inmigration = pd.read_csv(immigration_data_2012_2021)
inmigration.head()

,Year,Region and country of birth,Total Permanent Residents,Percentage,Alabama,Alaska,Arizona,Arkansas,California,Colorado,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,2012,Total,1031631,100.00,3873,1612,18434,2795,196622,13327,...,1521,8573,95557,5932,877,28227,23060,779,6049,427
1,2012,"China, People's Republic",81784,7.93,299,49,676,169,22424,637,...,45,539,3203,273,69,1385,2017,64,467,27
2,2012,Dominican Republic,41566,4.03,17,91,33,5,171,33,...,0,39,220,23,5,157,32,11,51,3
3,2012,India,66434,6.44,330,18,978,320,13951,483,...,22,573,5844,159,36,2473,2180,66,632,15
4,2012,Iran,12916,1.25,26,4,223,13,6591,105,...,6,94,1160,75,0,567,361,16,23,4

In [4]:
migration = inmigration.rename(columns={"Region and country of birth": "Country_origin", "Total Permanent Residents": "Total_inmigrants"})
migration

,Year,Country_origin,Total_inmigrants,Percentage,Alabama,Alaska,Arizona,Arkansas,California,Colorado,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,2012,Total,1031631,100.00,3873,1612,18434,2795,196622,13327,...,1521,8573,95557,5932,877,28227,23060,779,6049,427
1,2012,"China, People's Republic",81784,7.93,299,49,676,169,22424,637,...,45,539,3203,273,69,1385,2017,64,467,27
2,2012,Dominican Republic,41566,4.03,17,91,33,5,171,33,...,0,39,220,23,5,157,32,11,51,3
3,2012,India,66434,6.44,330,18,978,320,13951,483,...,22,573,5844,159,36,2473,2180,66,632,15
4,2012,Iran,12916,1.25,26,4,223,13,6591,105,...,6,94,1160,75,0,567,361,16,23,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,2021,Iran,5734,0.77,21,0,86,17,2206,89,...,7,62,473,34,0,218,187,9,38,0
86,2021,Mexico,107230,14.49,323,33,6859,610,31715,3131,...,66,809,25282,1374,6,586,2539,20,949,69
87,2021,Pakistan,9691,1.31,31,0,59,41,1104,52,...,0,53,1464,25,0,784,166,17,57,3
88,2021,Philippines,27511,3.72,152,190,555,129,6478,228,...,35,759,1680,154,26,648,737,69,236,27
89,2021,United Kingdom,9229,1.25,48,13,179,59,1651,146,...,0,149,771,63,8,237,309,14,72,8

In [5]:
migration = migration[migration["Country_origin"]!= "Total"]
migration = migration.drop(columns="Percentage")
migration["Country_origin"] = migration["Country_origin"].replace("China, People's Republic", "China")
migration

,Year,Country_origin,Total_inmigrants,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
1,2012,China,81784,299,49,676,169,22424,637,609,...,45,539,3203,273,69,1385,2017,64,467,27
2,2012,Dominican Republic,41566,17,91,33,5,171,33,694,...,0,39,220,23,5,157,32,11,51,3
3,2012,India,66434,330,18,978,320,13951,483,1143,...,22,573,5844,159,36,2473,2180,66,632,15
4,2012,Iran,12916,26,4,223,13,6591,105,62,...,6,94,1160,75,0,567,361,16,23,4
5,2012,Mexico,146406,561,75,8075,961,49595,3316,255,...,54,1031,37852,1334,7,792,2408,27,1142,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,2021,Iran,5734,21,0,86,17,2206,89,39,...,7,62,473,34,0,218,187,9,38,0
86,2021,Mexico,107230,323,33,6859,610,31715,3131,247,...,66,809,25282,1374,6,586,2539,20,949,69
87,2021,Pakistan,9691,31,0,59,41,1104,52,111,...,0,53,1464,25,0,784,166,17,57,3
88,2021,Philippines,27511,152,190,555,129,6478,228,178,...,35,759,1680,154,26,648,737,69,236,27
89,2021,United Kingdom,9229,48,13,179,59,1651,146,205,...,0,149,771,63,8,237,309,14,72,8

In [6]:
mexico_us_df = migration[migration["Country_origin"]=="India"]
mexico_us_df

,Year,Country_origin,Total_inmigrants,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
3,2012,India,66434,330,18,978,320,13951,483,1143,...,22,573,5844,159,36,2473,2180,66,632,15
12,2013,India,68458,304,11,772,293,13735,396,1106,...,31,716,6499,168,37,2614,2278,50,608,6
21,2014,India,77908,343,11,980,318,15770,545,1294,...,21,723,7490,157,33,2996,2297,74,684,12
30,2015,India,64116,321,11,789,226,12925,498,966,...,24,629,6084,184,33,2011,2011,58,617,11
39,2016,India,64687,330,22,753,226,13241,303,927,...,32,669,6086,152,46,1891,1859,60,525,7
48,2017,India,60394,352,21,718,227,11941,430,965,...,18,611,6378,150,30,1811,1743,64,533,12
57,2018,India,59821,313,10,653,207,12617,399,861,...,34,636,5646,135,46,1756,1859,31,511,8
66,2019,India,54495,339,12,667,162,11750,365,626,...,17,624,4862,144,21,1540,1963,72,446,7
75,2020,India,46363,210,9,676,205,9569,350,755,...,11,560,5057,155,34,1280,1855,35,423,6
84,2021,India,93450,346,12,1538,376,17299,935,1489,...,53,1093,11128,360,31,3257,4994,59,878,7

In [7]:
mexico_columns = ["Year","Total_inmigrants","California"]
inmigration_mexico = mexico_us_df[mexico_columns]
inmigration_mexico

    Year  Total_inmigrants  California
3   2012             66434       13951
12  2013             68458       13735
21  2014             77908       15770
30  2015             64116       12925
39  2016             64687       13241
48  2017             60394       11941
57  2018             59821       12617
66  2019             54495       11750
75  2020             46363        9569
84  2021             93450       17299

In [8]:
unemployment_state = pd.read_excel(state_unemployment, skiprows=0, header=0)
                                  
unemployment_state.head()

,Area,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,United States,7.1,7.6,9.7,9.6,7.5,7.2,7.0,6.2,5.5,...,9.3,9.6,8.9,8.1,7.4,6.2,5.3,4.9,4.4,3.9
1,Alabama,8.9,10.6,14.1,13.8,11.0,9.2,9.7,8.1,7.2,...,11.0,10.5,9.6,8.0,7.2,6.8,6.1,5.8,4.4,3.9
2,Alaska,9.6,9.4,9.9,9.9,9.8,9.7,10.9,10.3,8.8,...,7.7,7.9,7.6,7.1,7.0,6.9,6.5,6.9,7.0,6.6
3,Arizona,6.6,6.2,10.1,8.8,5.2,6.3,6.9,6.5,6.4,...,9.9,10.4,9.5,8.3,7.7,6.8,6.1,5.4,4.9,4.8
4,Arkansas,7.6,8.7,9.9,9.9,8.7,8.7,8.6,8.1,7.6,...,7.8,8.2,8.3,7.6,7.2,6.0,5.0,4.0,3.7,3.7

In [9]:
unemployment_state_transposed = unemployment_state.transpose()
unemployment_state_transposed.head()

,0,1,2,3,4,5,6,7,8,9,...,42,43,44,45,46,47,48,49,50,51
Area,United States,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
1980,7.1,8.9,9.6,6.6,7.6,6.8,5.8,5.8,7.6,7.4,...,4.8,7.4,5.1,6.2,6.2,5.2,8.1,9.5,7.2,3.9
1981,7.6,10.6,9.4,6.2,8.7,7.4,5.7,6.2,7.8,8.9,...,5.0,9.0,5.3,6.6,5.8,6.0,9.6,10.6,8.0,4.1
1982,9.7,14.1,9.9,10.1,9.9,10.0,7.3,6.9,8.4,10.4,...,5.5,11.7,6.9,8.2,7.0,7.4,11.9,14.0,10.5,6.2
1983,9.6,13.8,9.9,8.8,9.9,9.8,7.1,6.0,7.7,11.2,...,5.2,11.5,7.9,8.7,6.4,6.4,11.1,17.8,10.2,8.2

In [10]:
unemployment_drop_index = unemployment_state_transposed.reset_index()
unemployment_drop_index.head()

,index,0,1,2,3,4,5,6,7,8,...,42,43,44,45,46,47,48,49,50,51
0,Area,United States,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
1,1980,7.1,8.9,9.6,6.6,7.6,6.8,5.8,5.8,7.6,...,4.8,7.4,5.1,6.2,6.2,5.2,8.1,9.5,7.2,3.9
2,1981,7.6,10.6,9.4,6.2,8.7,7.4,5.7,6.2,7.8,...,5.0,9.0,5.3,6.6,5.8,6.0,9.6,10.6,8.0,4.1
3,1982,9.7,14.1,9.9,10.1,9.9,10.0,7.3,6.9,8.4,...,5.5,11.7,6.9,8.2,7.0,7.4,11.9,14.0,10.5,6.2
4,1983,9.6,13.8,9.9,8.8,9.9,9.8,7.1,6.0,7.7,...,5.2,11.5,7.9,8.7,6.4,6.4,11.1,17.8,10.2,8.2

In [11]:
columnns_list = unemployment_drop_index.columns
columnns_list

Index(['index',       0,       1,       2,       3,       4,       5,       6,
             7,       8,       9,      10,      11,      12,      13,      14,
            15,      16,      17,      18,      19,      20,      21,      22,
            23,      24,      25,      26,      27,      28,      29,      30,
            31,      32,      33,      34,      35,      36,      37,      38,
            39,      40,      41,      42,      43,      44,      45,      46,
            47,      48,      49,      50,      51],
      dtype='object')

In [12]:
unemployment_drop_index.columns = unemployment_drop_index.iloc[0]
unemployment_drop_index.drop(index=0, inplace=True)
unemployment_drop_index.head()

,Area,United States,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
1,1980,7.1,8.9,9.6,6.6,7.6,6.8,5.8,5.8,7.6,...,4.8,7.4,5.1,6.2,6.2,5.2,8.1,9.5,7.2,3.9
2,1981,7.6,10.6,9.4,6.2,8.7,7.4,5.7,6.2,7.8,...,5.0,9.0,5.3,6.6,5.8,6.0,9.6,10.6,8.0,4.1
3,1982,9.7,14.1,9.9,10.1,9.9,10.0,7.3,6.9,8.4,...,5.5,11.7,6.9,8.2,7.0,7.4,11.9,14.0,10.5,6.2
4,1983,9.6,13.8,9.9,8.8,9.9,9.8,7.1,6.0,7.7,...,5.2,11.5,7.9,8.7,6.4,6.4,11.1,17.8,10.2,8.2
5,1984,7.5,11.0,9.8,5.2,8.7,7.8,5.4,4.7,6.3,...,4.4,8.5,6.1,6.5,5.1,5.1,9.3,14.8,7.4,6.3

In [13]:
unemploymnet_rate_not_cleaned = unemployment_drop_index.rename(columns={"Area":"Year"})
unemploymnet_rate_not_cleaned.head()

,Year,United States,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
1,1980,7.1,8.9,9.6,6.6,7.6,6.8,5.8,5.8,7.6,...,4.8,7.4,5.1,6.2,6.2,5.2,8.1,9.5,7.2,3.9
2,1981,7.6,10.6,9.4,6.2,8.7,7.4,5.7,6.2,7.8,...,5.0,9.0,5.3,6.6,5.8,6.0,9.6,10.6,8.0,4.1
3,1982,9.7,14.1,9.9,10.1,9.9,10.0,7.3,6.9,8.4,...,5.5,11.7,6.9,8.2,7.0,7.4,11.9,14.0,10.5,6.2
4,1983,9.6,13.8,9.9,8.8,9.9,9.8,7.1,6.0,7.7,...,5.2,11.5,7.9,8.7,6.4,6.4,11.1,17.8,10.2,8.2
5,1984,7.5,11.0,9.8,5.2,8.7,7.8,5.4,4.7,6.3,...,4.4,8.5,6.1,6.5,5.1,5.1,9.3,14.8,7.4,6.3

In [14]:
unemploymnet_rate_not_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 1 to 39
Data columns (total 53 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  39 non-null     object
 1   United States         39 non-null     object
 2   Alabama               39 non-null     object
 3   Alaska                39 non-null     object
 4   Arizona               39 non-null     object
 5   Arkansas              39 non-null     object
 6   California            39 non-null     object
 7   Colorado              39 non-null     object
 8   Connecticut           39 non-null     object
 9   Delaware              39 non-null     object
 10  District of Columbia  39 non-null     object
 11  Florida               39 non-null     object
 12  Georgia               39 non-null     object
 13  Hawaii                39 non-null     object
 14  Idaho                 39 non-null     object
 15  Illinois              39 non-null     object
 16  Indiana               39 non-null     object
 17  Iowa                  39 non-null     object
 18  Kansas                39 non-null     object
 19  Kentucky              39 non-null     object
 20  Louisiana             39 non-null     object
 21  Maine                 39 non-null     object
 22  Maryland              39 non-null     object
 23  Massachusetts         39 non-null     object
 24  Michigan              39 non-null     object
 25  Minnesota             39 non-null     object
 26  Mississippi           39 non-null     object
 27  Missouri              39 non-null     object
 28  Montana               39 non-null     object
 29  Nebraska              39 non-null     object
 30  Nevada                39 non-null     object
 31  New Hampshire         39 non-null     object
 32  New Jersey            39 non-null     object
 33  New Mexico            39 non-null     object
 34  New York              39 non-null     object
 35  North Carolina        39 non-null     object
 36  North Dakota          39 non-null     object
 37  Ohio                  39 non-null     object
 38  Oklahoma              39 non-null     object
 39  Oregon                39 non-null     object
 40  Pennsylvania          39 non-null     object
 41  Rhode Island          39 non-null     object
 42  South Carolina        39 non-null     object
 43  South Dakota          39 non-null     object
 44  Tennessee             39 non-null     object
 45  Texas                 39 non-null     object
 46  Utah                  39 non-null     object
 47  Vermont               39 non-null     object
 48  Virginia              39 non-null     object
 49  Washington            39 non-null     object
 50  West Virginia         39 non-null     object
 51  Wisconsin             39 non-null     object
 52  Wyoming               39 non-null     object
dtypes: object(53)
memory usage: 16.3+ KB

In [15]:
gini_index = pd.read_excel(gini, skiprows=0, header=0)
gini_index.head()

,Unnamed: 0,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Alabama,0.472,0.471,0.467,0.471,0.472,0.4735,0.4726,0.4752,0.4758,0.4811,0.4847,0.4768,0.4859
1,Alaska,0.417,0.409,0.403,0.402,0.422,0.4099,0.4232,0.4083,0.4175,0.4322,0.4081,0.4241,0.4322
2,Arizona,0.454,0.448,0.453,0.451,0.455,0.4600,0.4608,0.4681,0.4676,0.4702,0.4713,0.4668,0.4613
3,Arkansas,0.460,0.462,0.459,0.461,0.458,0.4684,0.4632,0.4685,0.4714,0.4773,0.4719,0.4725,0.4845
4,California,0.466,0.469,0.473,0.467,0.471,0.4812,0.4822,0.4903,0.4890,0.4876,0.4899,0.4866,0.4912

In [16]:
gini_transposed = gini_index.transpose()
gini_transposed.head()

,0,1,2,3,4,5,6,7,8,9,...,43,44,45,46,47,48,49,50,51,52
Unnamed: 0,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,...,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming,USA
2006,0.472,0.417,0.454,0.46,0.466,0.45,0.48,0.434,0.537,0.467,...,0.468,0.474,0.41,0.42,0.456,0.443,0.447,0.424,0.413,0.464
2007,0.471,0.409,0.448,0.462,0.469,0.452,0.481,0.435,0.542,0.469,...,0.471,0.473,0.409,0.428,0.456,0.444,0.454,0.428,0.437,0.467
2008,0.467,0.403,0.453,0.459,0.473,0.457,0.486,0.447,0.54,0.471,...,0.471,0.474,0.411,0.434,0.46,0.442,0.453,0.426,0.441,0.469
2009,0.471,0.402,0.451,0.461,0.467,0.453,0.48,0.434,0.532,0.469,...,0.467,0.474,0.414,0.428,0.456,0.439,0.463,0.432,0.415,0.469

In [17]:
countries_raw_data = pd.read_csv("Resources/countries_data.csv")
countries_raw_data.head()

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022]
0,China,CHN,"Population, total",SP.POP.TOTL,667070000,660330000,665770000,682335000,698355000,715185000,...,1363240000,1371860000,1379860000,1387790000,1396215000,1.402760e+09,1407745000,1411100000,1412360000,1412175000
1,China,CHN,GDP per capita (current US$),NY.GDP.PCAP.CD,89.5202179159242,75.8055639067957,70.9091553472599,74.3133748233246,85.4982461036748,98.4864217470782,...,7020.38568208449,7636.07422276004,8016.44601585644,8094.39037512163,8817.04549566316,9.905406e+03,10143.8602060373,10408.7191247747,12617.5049863004,12720.2156397612
2,China,CHN,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,..,..,..,..,..,..,...,4.05,4.1,..,..,3.9,4.930000e+00,5.15,5.61,5.11,..
3,China,CHN,Urban population (% of total population),SP.URB.TOTL.IN.ZS,16.203,16.708,17.226,17.757,18.299,18.086,...,53.013,54.259,55.5,56.736,57.96,5.915200e+01,60.308,61.428,62.512,63.56
4,China,CHN,"Birth rate, crude (per 1,000 people)",SP.DYN.CBRT.IN,20.86,18.02,37.01,43.37,39.14,37.88,...,13.03,13.83,11.99,13.57,12.64,1.086000e+01,10.41,8.52,7.52,..

In [18]:
countries_raw_metadata = pd.read_csv("Resources/countries_metadata.csv", encoding='latin-1')
countries_raw_metadata.head()

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022]
0,China,CHN,"Population, total",SP.POP.TOTL,667070000,660330000,665770000,682335000,698355000,715185000,...,1363240000,1371860000,1379860000,1387790000,1396215000,1.402760e+09,1407745000,1411100000,1412360000,1412175000
1,China,CHN,GDP per capita (current US$),NY.GDP.PCAP.CD,89.5202179159242,75.8055639067957,70.9091553472599,74.3133748233246,85.4982461036748,98.4864217470782,...,7020.38568208449,7636.07422276004,8016.44601585644,8094.39037512163,8817.04549566316,9.905406e+03,10143.8602060373,10408.7191247747,12617.5049863004,12720.2156397612
2,China,CHN,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,..,..,..,..,..,..,...,4.05,4.1,..,..,3.9,4.930000e+00,5.15,5.61,5.11,..
3,China,CHN,Urban population (% of total population),SP.URB.TOTL.IN.ZS,16.203,16.708,17.226,17.757,18.299,18.086,...,53.013,54.259,55.5,56.736,57.96,5.915200e+01,60.308,61.428,62.512,63.56
4,China,CHN,"Birth rate, crude (per 1,000 people)",SP.DYN.CBRT.IN,20.86,18.02,37.01,43.37,39.14,37.88,...,13.03,13.83,11.99,13.57,12.64,1.086000e+01,10.41,8.52,7.52,..

In [19]:
for column in countries_raw_metadata.columns:
    if "[YR" in column:
        new_column_name = column.split("[")[0].strip() # Extract the part before '[YR' and remove any leading/trailing spaces
        countries_raw_metadata.rename(columns={column: new_column_name}, inplace=True)
countries_raw_metadata

,Country Name,Country Code,Series Name,Series Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,China,CHN,"Population, total",SP.POP.TOTL,667070000,660330000,665770000,682335000,698355000,715185000,...,1363240000,1371860000,1379860000,1387790000,1396215000,1.402760e+09,1407745000,1411100000,1412360000,1412175000
1,China,CHN,GDP per capita (current US$),NY.GDP.PCAP.CD,89.5202179159242,75.8055639067957,70.9091553472599,74.3133748233246,85.4982461036748,98.4864217470782,...,7020.38568208449,7636.07422276004,8016.44601585644,8094.39037512163,8817.04549566316,9.905406e+03,10143.8602060373,10408.7191247747,12617.5049863004,12720.2156397612
2,China,CHN,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,..,..,..,..,..,..,...,4.05,4.1,..,..,3.9,4.930000e+00,5.15,5.61,5.11,..
3,China,CHN,Urban population (% of total population),SP.URB.TOTL.IN.ZS,16.203,16.708,17.226,17.757,18.299,18.086,...,53.013,54.259,55.5,56.736,57.96,5.915200e+01,60.308,61.428,62.512,63.56
4,China,CHN,"Birth rate, crude (per 1,000 people)",SP.DYN.CBRT.IN,20.86,18.02,37.01,43.37,39.14,37.88,...,13.03,13.83,11.99,13.57,12.64,1.086000e+01,10.41,8.52,7.52,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,SP.URB.TOTL.IN.ZS,CC BY-4.0,Urban population (% of total population),NaN,Urban population refers to people living in ur...,United Nations Population Division. World Urba...,Environment: Density & urbanization,NaN,Annual,Weighted average,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,Percentages urban are the numbers of persons r...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,Countries differ in the way they classify popu...,Explosive growth of cities globally signifies ...,Aggregation of urban and rural population may ...,NaN,NaN,https://datacatalog.worldbank.org/public-licen...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,SP.DYN.CBRT.IN,CC BY-4.0,"Birth rate, crude (per 1,000 people)",Crude birth rate indicates the number of live ...,Crude birth rate indicates the number of live ...,(1) United Nations Population Division. World ...,Health: Population: Dynamics,NaN,Annual,Weighted average,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,SI.POV.GINI,CC BY-4.0,Gini index,The Gini index measures the extent to which th...,Gini index measures the extent to which the di...,"World Bank, Poverty and Inequality Platform. D...",Poverty: Income distribution,%,Annual,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
unique_names = countries_raw_metadata["Country Name"].unique()
unique_names

array(['China', 'United States', 'Iran, Islamic Rep.', 'India',
       'Dominican Republic', 'Mexico', 'United Kingdom', 'Pakistan',
       'Philippines', nan,
       'Data from database: World Development Indicators',
       'Last Updated: 06/29/2023', 'Code', 'SP.POP.TOTL',
       'NY.GDP.PCAP.CD', 'SL.UEM.TOTL.NE.ZS',
       'Unemployment is a key measure to monitor whether a country is on track to achieve the Sustainable Development Goal of promoting sustained',
       'However', 'SP.URB.TOTL.IN.ZS',
       "Percentages urban are the numbers of persons residing in an area defined as ''urban'' per 100 total population. They are calculated by the Statistics Division of the United Nations Department of Economic and Social Affairs. Particular caution should be used in interpreting the figures for percentage urban for different countries.",
       'Countries differ in the way they classify population as "urban" or "rural." The population of a city or metropolitan area depends on the boundaries chosen.',
       'SP.DYN.CBRT.IN', 'SI.POV.GINI'], dtype=object)

In [21]:
attributes_to_keep = ['China', 'United States', 'Iran, Islamic Rep.', 'India', 'Dominican Republic', 'Mexico', 'United Kingdom', 'Pakistan', 'Philippines']

# Filter the DataFrame to keep only the desired attributes
df_filtered = countries_raw_metadata[countries_raw_metadata['Country Name'].isin(attributes_to_keep)]

# Print the filtered DataFrame
df_filtered

,Country Name,Country Code,Series Name,Series Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,China,CHN,"Population, total",SP.POP.TOTL,667070000,660330000,665770000,682335000,698355000,715185000,...,1363240000,1371860000,1379860000,1387790000,1396215000,1.402760e+09,1407745000,1411100000,1412360000,1412175000
1,China,CHN,GDP per capita (current US$),NY.GDP.PCAP.CD,89.5202179159242,75.8055639067957,70.9091553472599,74.3133748233246,85.4982461036748,98.4864217470782,...,7020.38568208449,7636.07422276004,8016.44601585644,8094.39037512163,8817.04549566316,9.905406e+03,10143.8602060373,10408.7191247747,12617.5049863004,12720.2156397612
2,China,CHN,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,..,..,..,..,..,..,...,4.05,4.1,..,..,3.9,4.930000e+00,5.15,5.61,5.11,..
3,China,CHN,Urban population (% of total population),SP.URB.TOTL.IN.ZS,16.203,16.708,17.226,17.757,18.299,18.086,...,53.013,54.259,55.5,56.736,57.96,5.915200e+01,60.308,61.428,62.512,63.56
4,China,CHN,"Birth rate, crude (per 1,000 people)",SP.DYN.CBRT.IN,20.86,18.02,37.01,43.37,39.14,37.88,...,13.03,13.83,11.99,13.57,12.64,1.086000e+01,10.41,8.52,7.52,..
5,China,CHN,Gini index,SI.POV.GINI,..,..,..,..,..,..,...,39.7,39.2,38.6,38.5,39.1,3.850000e+01,38.2,..,..,..
6,United States,USA,"Population, total",SP.POP.TOTL,180671000,183691000,186538000,189242000,191889000,194303000,...,316059947,318386329,320738994,323071755,325122128,3.268382e+08,328329953,331511512,332031554,333287557
7,United States,USA,GDP per capita (current US$),NY.GDP.PCAP.CD,3007.12344537862,3066.56286916615,3243.84307754988,3374.51517105082,3573.94118474743,3827.52710972039,...,53291.1276891406,55123.8497869046,56762.7294515989,57866.7449341091,59907.754260885,6.282331e+04,65120.3946628653,63528.6343027508,70219.472454115,76398.5917422054
8,United States,USA,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,5.5,6.7,5.5,5.7,5.2,4.5,...,7.37,6.17,5.28,4.87,4.36,3.900000e+00,3.67,8.05,5.35,3.65
9,United States,USA,Urban population (% of total population),SP.URB.TOTL.IN.ZS,69.996,70.377,70.757,71.134,71.508,71.879,...,81.299,81.483,81.671,81.862,82.058,8.225600e+01,82.459,82.664,82.873,83.084
10,United States,USA,"Birth rate, crude (per 1,000 people)",SP.DYN.CBRT.IN,23.7,23.3,22.4,21.7,21.1,19.4,...,12.4,12.5,12.4,12.2,11.8,1.160000e+01,11.4,10.9,11,..
11,United States,USA,Gini index,SI.POV.GINI,..,..,..,..,..,..,...,40.7,41.5,41.2,41.1,41.2,4.140000e+01,41.5,39.7,..,..
12,"Iran, Islamic Rep.",IRN,"Population, total",SP.POP.TOTL,21388806,21983622,22605050,23259094,23948624,24667026,...,78458928,79961672,81790841,83306231,84505076,8.561756e+07,86564202,87290193,87923432,88550570
13,"Iran, Islamic Rep.",IRN,GDP per capita (current US$),NY.GDP.PCAP.CD,196.323926903847,201.374873094768,207.633533736483,211.901117621304,224.641116847529,251.239039633033,...,6280.68186752661,5757.54333261849,4990.93679537694,5497.24323256491,5758.59072767048,3.829830e+03,3276.75326508099,2746.41948317956,4084.20030479458,4387.82571517872
14,"Iran, Islamic Rep.",IRN,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,..,..,..,..,..,..,...,10.6,10.68,11.17,12.62,12.23,1.219000e+01,10.74,9.69,9.28,..
15,"Iran, Islamic Rep.",IRN,Urban population (% of total population),SP.URB.TOTL.IN.ZS,33.735,34.389,35.051,35.718,36.391,37.068,...,72.295,72.83,73.358,73.88,74.394,7.489800e+01,75.391,75.874,76.345,76.807
16,"Iran, Islamic Rep.",IRN,"Birth rate, crude (per 1,000 people)",SP.DYN.CBRT.IN,49.046,47.959,47.354,46.611,45.916,45.481,...,19.445,19.824,19.428,19.017,18.608,1.723100e+01,15.118,14.231,13.699,..
17,"Iran, Islamic Rep.",IRN,Gini index,SI.POV.GINI,..,..,..,..,..,..,...,37.4,38.8,39.5,40,40.8,4.200000e+01,40.9,..,..,..
18,India,IND,"Population, total",SP.POP.TOTL,445954579,456351876,467024193,477933619,489059309,500114346,...,1291132063,1307246509,1322866505,1338636340,1354195680,1.369003e+09,1383112050,1396387127,1407563842,1417173173
19,India,IND,GDP per capita (current US$),NY.GDP.PCAP.CD,83.0351017584916,85.9697041171847,90.2768688575718,101.315164901321,115.487608265464,119.082475942029,...,1438.05699513067,1559.86377161811,1590.17432166504,1714.2795405846,1957.96981368095,1.974378e+03,2050.16378973235,1913.21972103493,2238.12713873311,2388.62119776762
20,India,IND,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,..,..,..,..,..,..,...,..,..,..,..,..,7.650000e+00,6.51,7.86,6.38,4.82
21,India,IND,Urban population (% of total population),SP.URB.TOTL.IN.ZS,17.924,18.032,18.218,18.405,18.595,18.785,...,32.003,32.384,32.777,33.182,33.6,3.403000e+01,34.472,34.926,35.393,35.872
22,India,IND,"Birth rate, crude (per 1,000 people)",SP.DYN.CBRT.IN,42.506,42.294,42.101,41.907,41.721,41.346,...,19.935,19.049,18.765,18.514,17.911,1.765100e+01,17.049,16.572,16.419,..
23,India,IND,Gini index,SI.POV.GINI,..,..,..,..,..,..,...,..,..,34.7,34.8,35.9,3.460000e+01,35.7,..,..,..
24,Dominican Republic,DOM,"Population, total",SP.POP.TOTL,3298021,3408415,3521164,3635798,3752313,3868712,...,10157051,10282115,10405832,10527592,10647244,1.076553e+07,10881882,10999664,11117873,11228821
25,Dominican Republic,DOM,GDP per capita (current US$),NY.GDP.PCAP.CD,203.879750917293,191.907440848606,234.041924772604,258.760222652634,273.324719979383,229.559605367368,...,6171.29506392047,6533.67096798065,6838.9367346602,7191.06971254766,7513.49795078555,7.947159e+03,8173.34464573914,7167.91493205787,8476.7496882797,10120.5511632969
26,Dominican Republic,DOM,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,..,..,..,..,..,..,...,7.35,6.72,7.61,7.28,5.83,5.860000e+00,6.18,6.13,7.7,..
27,Dominican Republic,DOM,Urban population (% of total population),SP.URB.TOTL.IN.ZS,30.191,31.112,32.074,33.052,34.046,35.052,...,76.749,77.67,78.566,79.436,80.277,8.107400e+01,81.828,82.54,83.213,83.848
28,Dominican Republic,DOM,"Birth rate, crude (per 1,000 people)",SP.DYN.CBRT.IN,52.229,51.39,50.461,49.47,48.465,47.437,...,21.166,20.867,20.596,20.258,19.993,1.976200e+01,19.291,18.78,18.432,..
29,Dominican Republic,DOM,Gini index,SI.POV.GINI,..,..,..,..,..,..,...,47.7,44.3,45.2,45.7,42.2,4.370000e+01,41.9,39.6,38.5,..
30,Mexico,MEX,"Population, total",SP.POP.TOTL,36268055,37439317,38683283,39982118,41333878,42737991,...,117290686,118755887,120149897,121519221,122839258,1.240139e+08,125085311,125998302,126705138,127504125
31,Mexico,MEX,GDP per capita (current US$),NY.GDP.PCAP.CD,359.54505933555,378.212027367914,392.934591017003,424.189633551679,485.800049536121,511.020744474395,...,10865.6872912453,11076.1341141975,9753.40056232226,8875.08206876137,9434.37817948243,9.857007e+03,10145.1526279593,8654.99732516958,10045.676371041,11091.3054302538
32,Mexico,MEX,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,..,..,..,..,..,..,...,4.91,4.81,4.31,3.85,3.42,3.270000e+00,3.48,4.44,4.09,3.26
33,Mexico,MEX,Urban population (% of total population),SP.URB.TOTL.IN.ZS,50.753,51.59,52.428,53.265,54.1,54.931,...,78.699,78.993,79.285,79.577,79.867,8.015600e+01,80.444,80.731,81.016,81.3
34,Mexico,MEX,"Birth rate, crude (per 1,000 people)",SP.DYN.CBRT.IN,46.953,46.775,46.728,46.625,46.509,46.198,...,19.326,18.711,17.968,17.42,16.947,1.646500e+01,15.71,15.565,14.857,..
35,Mexico,MEX,Gini index,SI.POV.GINI,..,..,..,..,..,..,...,..,48.7,..,47.7,..,4.670000e+01,..,45.4,..,..
36,United Kingdom,GBR,"Population, total",SP.POP.TOTL,52400000,52800000,53250000,53650000,54000000,54348050,...,64128273,64602298,65116219,65611593,66058859,6.646034e+07,66836327,67081234,67026300,66971411
37,United Kingdom,GBR,GDP per capita (current US$),NY.GDP.PCAP.CD,1397.59486332505,1472.38577733235,1525.77591825763,1613.456953048,1748.28819272053,1873.56785484264,...,43449.0917173139,47447.5889322667,45071.0743234873,41146.0773555246,40622.6893883232,4.330631e+04,42747.080460496,40318.4169225055,46585.8975644567,45850.4261222629
38,United Kingdom,GBR,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,..,..,..,..,..,..,...,7.52,6.11,5.3,4.81,4.33,4.000000e+00,3.74,..,..,..
39,United Kingdom,GBR,Urban population (% of total population),SP.URB.TOTL.IN.ZS,78.444,78.374,78.237,78.099,77.96,77.821,...,82.102,82.365,82.626,82.886,83.143,8.339800e+01,83.652,83.903,84.152,84.398
40,United Kingdom,GBR,"Birth rate, crude (per 1,000 people)",SP.DYN.CBRT.IN,17.5,17.9,18.3,18.5,18.8,18.3,...,12.1,12,11.9,11.8,11.4,1.100000e+01,10.7,10.1,10.1,..
41,United Kingdom,GBR,Gini index,SI.POV.GINI,..,..,..,..,..,..,...,32.7,33.1,33.3,33.1,32.6,3.370000e+01,32.8,32.6,..,..
42,Pakistan,PAK,"Population, total",SP.POP.TOTL,45954226,47060915,48161841,49325050,50552592,51841626,...,205337562,208251628,210969298,213524840,216379655,2.197315e+08,223293280,227196741,231402117,235824862
43,Pakistan,PAK,GDP per capita (current US$),NY.GDP.PCAP.CD,81.5869472962009,87.5173724745356,89.4933355376524,93.883886249529,102.961207229136,114.372018643314,...,1126.04077606401,1173.39230924409,1282.44302583998,1468.82207690892,1567.64061969895,1.620743e+03,1437.1658337701,1322.31478270271,1505.01019279459,1596.66266149236
44,Pakistan,PAK,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,..,..,..,..,..,..,...,2.95,1.83,3.57,..,..,4.080000e+00,4.83,..,6.34,..
45,Pakistan,PAK,Urban population (% of total population),SP.URB.TOTL.IN.ZS,22.104,22.501,22.751,23.002,23.256,23.511,...,35.613,35.819,36.026,36.234,36.442,3.666600e+01,36.907,37.165,37.44,37.731
46,Pakistan,PAK,"Birth rate, crude (per 1,000 people)",SP.DYN.CBRT.IN,45.749,45.76,45.647,45.503,45.298,45.091,...,31.181,30.462,29.699,29.306,28.963,2.859400e+01,28.276,27.967,27.519,..
47,Pakistan,PAK,Gini index,SI.POV.GINI,..,..,..,..,..,..,...,29.5,..,31.3,..,..,2.960000e+01,..,..,..,..
48,Philippines,PHL,"Population, total",SP.POP.TOTL,28486871,29342411,30185979,31043711,31916622,32805538,...,99700107,101325201,103031365,104875266,106738501,1.085688e+08,110380804,112190977,113880328,115559009
49,Philippines,PHL,GDP per capita (current US$),NY.GDP.PCAP.CD,263.837059857294,278.477269278725,164.135595310797,177.331345228822,186.540911391653,198.666127426693,...,2847.56795417743,2935.9285781194,2974.29692047629,3038.15204593606,3077.43443152814,3.194673e+03,3413.8490672059,3224.4228110466,3460.53940077621,3498.50981598253
50,Philippines,PHL,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,..,..,..,..,..,..,...,3.5,3.6,3.07,2.7,2.55,2.340000e+00,2.24,2.52,3.4,..
51,Philippines,PHL,Urban population (% of total population),SP.URB.TOTL.IN.ZS,30.297,30.555,30.816,31.077,31.34,31.604,...,45.903,46.093,46.284,46.475,46.682,4.690700e+01,47.149,47.408,47.684,47.977
52,Philippines,PHL,"Birth rate, crude (per 1,000 people)",SP.DYN.CBRT.IN,46.49,46.051,45.513,44.929,44.313,43.68,...,24.286,23.827,23.252,22.836,22.664,2.244500e+01,22.254,22.039,21.813,..
53,Philippines,PHL,Gini index,SI.POV.GINI,..,..,..,..,..,..,...,..,..,44.6,..,..,4.230000e+01,..,..,40.7,..

In [22]:
series_names = df_filtered["Series Name"].unique()
series_names

array(['Population, total', 'GDP per capita (current US$)',
       'Unemployment, total (% of total labor force) (national estimate)',
       'Urban population (% of total population)',
       'Birth rate, crude (per 1,000 people)', 'Gini index'], dtype=object)

In [23]:
df_filtered.loc[df_filtered["Series Name"] == 'Population, total', "Series Name"] = "Population_total"
df_filtered.loc[df_filtered["Series Name"] == 'GDP per capita (current US$)', "Series Name"] = "GDP_per_capita"
df_filtered.loc[df_filtered["Series Name"] == 'Unemployment, total (% of total labor force) (national estimate)', "Series Name"] = "UR"
df_filtered.loc[df_filtered["Series Name"] == 'Urban population (% of total population)', "Series Name"] = "Urban_population"
df_filtered.loc[df_filtered["Series Name"] == 'Birth rate, crude (per 1,000 people)', "Series Name"] = "Birth_rate_crude"
df_filtered.loc[df_filtered["Series Name"] == 'Gini index', "Series Name"] = "Gini_index"
df_filtered.loc[df_filtered["Country Name"] == 'Iran, Islamic Rep.', "Country Name"] = "Iran"
df_filtered

,Country Name,Country Code,Series Name,Series Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,China,CHN,Population_total,SP.POP.TOTL,667070000,660330000,665770000,682335000,698355000,715185000,...,1363240000,1371860000,1379860000,1387790000,1396215000,1.402760e+09,1407745000,1411100000,1412360000,1412175000
1,China,CHN,GDP_per_capita,NY.GDP.PCAP.CD,89.5202179159242,75.8055639067957,70.9091553472599,74.3133748233246,85.4982461036748,98.4864217470782,...,7020.38568208449,7636.07422276004,8016.44601585644,8094.39037512163,8817.04549566316,9.905406e+03,10143.8602060373,10408.7191247747,12617.5049863004,12720.2156397612
2,China,CHN,UR,SL.UEM.TOTL.NE.ZS,..,..,..,..,..,..,...,4.05,4.1,..,..,3.9,4.930000e+00,5.15,5.61,5.11,..
3,China,CHN,Urban_population,SP.URB.TOTL.IN.ZS,16.203,16.708,17.226,17.757,18.299,18.086,...,53.013,54.259,55.5,56.736,57.96,5.915200e+01,60.308,61.428,62.512,63.56
4,China,CHN,Birth_rate_crude,SP.DYN.CBRT.IN,20.86,18.02,37.01,43.37,39.14,37.88,...,13.03,13.83,11.99,13.57,12.64,1.086000e+01,10.41,8.52,7.52,..
5,China,CHN,Gini_index,SI.POV.GINI,..,..,..,..,..,..,...,39.7,39.2,38.6,38.5,39.1,3.850000e+01,38.2,..,..,..
6,United States,USA,Population_total,SP.POP.TOTL,180671000,183691000,186538000,189242000,191889000,194303000,...,316059947,318386329,320738994,323071755,325122128,3.268382e+08,328329953,331511512,332031554,333287557
7,United States,USA,GDP_per_capita,NY.GDP.PCAP.CD,3007.12344537862,3066.56286916615,3243.84307754988,3374.51517105082,3573.94118474743,3827.52710972039,...,53291.1276891406,55123.8497869046,56762.7294515989,57866.7449341091,59907.754260885,6.282331e+04,65120.3946628653,63528.6343027508,70219.472454115,76398.5917422054
8,United States,USA,UR,SL.UEM.TOTL.NE.ZS,5.5,6.7,5.5,5.7,5.2,4.5,...,7.37,6.17,5.28,4.87,4.36,3.900000e+00,3.67,8.05,5.35,3.65
9,United States,USA,Urban_population,SP.URB.TOTL.IN.ZS,69.996,70.377,70.757,71.134,71.508,71.879,...,81.299,81.483,81.671,81.862,82.058,8.225600e+01,82.459,82.664,82.873,83.084
10,United States,USA,Birth_rate_crude,SP.DYN.CBRT.IN,23.7,23.3,22.4,21.7,21.1,19.4,...,12.4,12.5,12.4,12.2,11.8,1.160000e+01,11.4,10.9,11,..
11,United States,USA,Gini_index,SI.POV.GINI,..,..,..,..,..,..,...,40.7,41.5,41.2,41.1,41.2,4.140000e+01,41.5,39.7,..,..
12,Iran,IRN,Population_total,SP.POP.TOTL,21388806,21983622,22605050,23259094,23948624,24667026,...,78458928,79961672,81790841,83306231,84505076,8.561756e+07,86564202,87290193,87923432,88550570
13,Iran,IRN,GDP_per_capita,NY.GDP.PCAP.CD,196.323926903847,201.374873094768,207.633533736483,211.901117621304,224.641116847529,251.239039633033,...,6280.68186752661,5757.54333261849,4990.93679537694,5497.24323256491,5758.59072767048,3.829830e+03,3276.75326508099,2746.41948317956,4084.20030479458,4387.82571517872
14,Iran,IRN,UR,SL.UEM.TOTL.NE.ZS,..,..,..,..,..,..,...,10.6,10.68,11.17,12.62,12.23,1.219000e+01,10.74,9.69,9.28,..
15,Iran,IRN,Urban_population,SP.URB.TOTL.IN.ZS,33.735,34.389,35.051,35.718,36.391,37.068,...,72.295,72.83,73.358,73.88,74.394,7.489800e+01,75.391,75.874,76.345,76.807
16,Iran,IRN,Birth_rate_crude,SP.DYN.CBRT.IN,49.046,47.959,47.354,46.611,45.916,45.481,...,19.445,19.824,19.428,19.017,18.608,1.723100e+01,15.118,14.231,13.699,..
17,Iran,IRN,Gini_index,SI.POV.GINI,..,..,..,..,..,..,...,37.4,38.8,39.5,40,40.8,4.200000e+01,40.9,..,..,..
18,India,IND,Population_total,SP.POP.TOTL,445954579,456351876,467024193,477933619,489059309,500114346,...,1291132063,1307246509,1322866505,1338636340,1354195680,1.369003e+09,1383112050,1396387127,1407563842,1417173173
19,India,IND,GDP_per_capita,NY.GDP.PCAP.CD,83.0351017584916,85.9697041171847,90.2768688575718,101.315164901321,115.487608265464,119.082475942029,...,1438.05699513067,1559.86377161811,1590.17432166504,1714.2795405846,1957.96981368095,1.974378e+03,2050.16378973235,1913.21972103493,2238.12713873311,2388.62119776762
20,India,IND,UR,SL.UEM.TOTL.NE.ZS,..,..,..,..,..,..,...,..,..,..,..,..,7.650000e+00,6.51,7.86,6.38,4.82
21,India,IND,Urban_population,SP.URB.TOTL.IN.ZS,17.924,18.032,18.218,18.405,18.595,18.785,...,32.003,32.384,32.777,33.182,33.6,3.403000e+01,34.472,34.926,35.393,35.872
22,India,IND,Birth_rate_crude,SP.DYN.CBRT.IN,42.506,42.294,42.101,41.907,41.721,41.346,...,19.935,19.049,18.765,18.514,17.911,1.765100e+01,17.049,16.572,16.419,..
23,India,IND,Gini_index,SI.POV.GINI,..,..,..,..,..,..,...,..,..,34.7,34.8,35.9,3.460000e+01,35.7,..,..,..
24,Dominican Republic,DOM,Population_total,SP.POP.TOTL,3298021,3408415,3521164,3635798,3752313,3868712,...,10157051,10282115,10405832,10527592,10647244,1.076553e+07,10881882,10999664,11117873,11228821
25,Dominican Republic,DOM,GDP_per_capita,NY.GDP.PCAP.CD,203.879750917293,191.907440848606,234.041924772604,258.760222652634,273.324719979383,229.559605367368,...,6171.29506392047,6533.67096798065,6838.9367346602,7191.06971254766,7513.49795078555,7.947159e+03,8173.34464573914,7167.91493205787,8476.7496882797,10120.5511632969
26,Dominican Republic,DOM,UR,SL.UEM.TOTL.NE.ZS,..,..,..,..,..,..,...,7.35,6.72,7.61,7.28,5.83,5.860000e+00,6.18,6.13,7.7,..
27,Dominican Republic,DOM,Urban_population,SP.URB.TOTL.IN.ZS,30.191,31.112,32.074,33.052,34.046,35.052,...,76.749,77.67,78.566,79.436,80.277,8.107400e+01,81.828,82.54,83.213,83.848
28,Dominican Republic,DOM,Birth_rate_crude,SP.DYN.CBRT.IN,52.229,51.39,50.461,49.47,48.465,47.437,...,21.166,20.867,20.596,20.258,19.993,1.976200e+01,19.291,18.78,18.432,..
29,Dominican Republic,DOM,Gini_index,SI.POV.GINI,..,..,..,..,..,..,...,47.7,44.3,45.2,45.7,42.2,4.370000e+01,41.9,39.6,38.5,..
30,Mexico,MEX,Population_total,SP.POP.TOTL,36268055,37439317,38683283,39982118,41333878,42737991,...,117290686,118755887,120149897,121519221,122839258,1.240139e+08,125085311,125998302,126705138,127504125
31,Mexico,MEX,GDP_per_capita,NY.GDP.PCAP.CD,359.54505933555,378.212027367914,392.934591017003,424.189633551679,485.800049536121,511.020744474395,...,10865.6872912453,11076.1341141975,9753.40056232226,8875.08206876137,9434.37817948243,9.857007e+03,10145.1526279593,8654.99732516958,10045.676371041,11091.3054302538
32,Mexico,MEX,UR,SL.UEM.TOTL.NE.ZS,..,..,..,..,..,..,...,4.91,4.81,4.31,3.85,3.42,3.270000e+00,3.48,4.44,4.09,3.26
33,Mexico,MEX,Urban_population,SP.URB.TOTL.IN.ZS,50.753,51.59,52.428,53.265,54.1,54.931,...,78.699,78.993,79.285,79.577,79.867,8.015600e+01,80.444,80.731,81.016,81.3
34,Mexico,MEX,Birth_rate_crude,SP.DYN.CBRT.IN,46.953,46.775,46.728,46.625,46.509,46.198,...,19.326,18.711,17.968,17.42,16.947,1.646500e+01,15.71,15.565,14.857,..
35,Mexico,MEX,Gini_index,SI.POV.GINI,..,..,..,..,..,..,...,..,48.7,..,47.7,..,4.670000e+01,..,45.4,..,..
36,United Kingdom,GBR,Population_total,SP.POP.TOTL,52400000,52800000,53250000,53650000,54000000,54348050,...,64128273,64602298,65116219,65611593,66058859,6.646034e+07,66836327,67081234,67026300,66971411
37,United Kingdom,GBR,GDP_per_capita,NY.GDP.PCAP.CD,1397.59486332505,1472.38577733235,1525.77591825763,1613.456953048,1748.28819272053,1873.56785484264,...,43449.0917173139,47447.5889322667,45071.0743234873,41146.0773555246,40622.6893883232,4.330631e+04,42747.080460496,40318.4169225055,46585.8975644567,45850.4261222629
38,United Kingdom,GBR,UR,SL.UEM.TOTL.NE.ZS,..,..,..,..,..,..,...,7.52,6.11,5.3,4.81,4.33,4.000000e+00,3.74,..,..,..
39,United Kingdom,GBR,Urban_population,SP.URB.TOTL.IN.ZS,78.444,78.374,78.237,78.099,77.96,77.821,...,82.102,82.365,82.626,82.886,83.143,8.339800e+01,83.652,83.903,84.152,84.398
40,United Kingdom,GBR,Birth_rate_crude,SP.DYN.CBRT.IN,17.5,17.9,18.3,18.5,18.8,18.3,...,12.1,12,11.9,11.8,11.4,1.100000e+01,10.7,10.1,10.1,..
41,United Kingdom,GBR,Gini_index,SI.POV.GINI,..,..,..,..,..,..,...,32.7,33.1,33.3,33.1,32.6,3.370000e+01,32.8,32.6,..,..
42,Pakistan,PAK,Population_total,SP.POP.TOTL,45954226,47060915,48161841,49325050,50552592,51841626,...,205337562,208251628,210969298,213524840,216379655,2.197315e+08,223293280,227196741,231402117,235824862
43,Pakistan,PAK,GDP_per_capita,NY.GDP.PCAP.CD,81.5869472962009,87.5173724745356,89.4933355376524,93.883886249529,102.961207229136,114.372018643314,...,1126.04077606401,1173.39230924409,1282.44302583998,1468.82207690892,1567.64061969895,1.620743e+03,1437.1658337701,1322.31478270271,1505.01019279459,1596.66266149236
44,Pakistan,PAK,UR,SL.UEM.TOTL.NE.ZS,..,..,..,..,..,..,...,2.95,1.83,3.57,..,..,4.080000e+00,4.83,..,6.34,..
45,Pakistan,PAK,Urban_population,SP.URB.TOTL.IN.ZS,22.104,22.501,22.751,23.002,23.256,23.511,...,35.613,35.819,36.026,36.234,36.442,3.666600e+01,36.907,37.165,37.44,37.731
46,Pakistan,PAK,Birth_rate_crude,SP.DYN.CBRT.IN,45.749,45.76,45.647,45.503,45.298,45.091,...,31.181,30.462,29.699,29.306,28.963,2.859400e+01,28.276,27.967,27.519,..
47,Pakistan,PAK,Gini_index,SI.POV.GINI,..,..,..,..,..,..,...,29.5,..,31.3,..,..,2.960000e+01,..,..,..,..
48,Philippines,PHL,Population_total,SP.POP.TOTL,28486871,29342411,30185979,31043711,31916622,32805538,...,99700107,101325201,103031365,104875266,106738501,1.085688e+08,110380804,112190977,113880328,115559009
49,Philippines,PHL,GDP_per_capita,NY.GDP.PCAP.CD,263.837059857294,278.477269278725,164.135595310797,177.331345228822,186.540911391653,198.666127426693,...,2847.56795417743,2935.9285781194,2974.29692047629,3038.15204593606,3077.43443152814,3.194673e+03,3413.8490672059,3224.4228110466,3460.53940077621,3498.50981598253
50,Philippines,PHL,UR,SL.UEM.TOTL.NE.ZS,..,..,..,..,..,..,...,3.5,3.6,3.07,2.7,2.55,2.340000e+00,2.24,2.52,3.4,..
51,Philippines,PHL,Urban_population,SP.URB.TOTL.IN.ZS,30.297,30.555,30.816,31.077,31.34,31.604,...,45.903,46.093,46.284,46.475,46.682,4.690700e+01,47.149,47.408,47.684,47.977
52,Philippines,PHL,Birth_rate_crude,SP.DYN.CBRT.IN,46.49,46.051,45.513,44.929,44.313,43.68,...,24.286,23.827,23.252,22.836,22.664,2.244500e+01,22.254,22.039,21.813,..
53,Philippines,PHL,Gini_index,SI.POV.GINI,..,..,..,..,..,..,...,..,..,44.6,..,..,4.230000e+01,..,..,40.7,..

In [24]:
countries_regressors_raw = df_filtered.drop(columns= {"Country Code", "Series Code"} )
countries_regressors_raw.head()

,Country Name,Series Name,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,China,Population_total,667070000,660330000,665770000,682335000,698355000,715185000,735400000,754550000,...,1363240000,1371860000,1379860000,1387790000,1396215000,1.402760e+09,1407745000,1411100000,1412360000,1412175000
1,China,GDP_per_capita,89.5202179159242,75.8055639067957,70.9091553472599,74.3133748233246,85.4982461036748,98.4864217470782,104.324189073855,96.58918279471,...,7020.38568208449,7636.07422276004,8016.44601585644,8094.39037512163,8817.04549566316,9.905406e+03,10143.8602060373,10408.7191247747,12617.5049863004,12720.2156397612
2,China,UR,..,..,..,..,..,..,..,..,...,4.05,4.1,..,..,3.9,4.930000e+00,5.15,5.61,5.11,..
3,China,Urban_population,16.203,16.708,17.226,17.757,18.299,18.086,17.915,17.785,...,53.013,54.259,55.5,56.736,57.96,5.915200e+01,60.308,61.428,62.512,63.56
4,China,Birth_rate_crude,20.86,18.02,37.01,43.37,39.14,37.88,35.05,33.96,...,13.03,13.83,11.99,13.57,12.64,1.086000e+01,10.41,8.52,7.52,..

In [25]:
#countries_regressors_raw.info()

In [26]:
sort_by_china = countries_regressors_raw.loc[countries_regressors_raw["Country Name"]== "India"]
sort_by_china

,Country Name,Series Name,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
18,India,Population_total,445954579,456351876,467024193,477933619,489059309,500114346,510992617,521987069,...,1291132063,1307246509,1322866505,1338636340,1354195680,1.369003e+09,1383112050,1396387127,1407563842,1417173173
19,India,GDP_per_capita,83.0351017584916,85.9697041171847,90.2768688575718,101.315164901321,115.487608265464,119.082475942029,89.7575826115815,96.0463297617622,...,1438.05699513067,1559.86377161811,1590.17432166504,1714.2795405846,1957.96981368095,1.974378e+03,2050.16378973235,1913.21972103493,2238.12713873311,2388.62119776762
20,India,UR,..,..,..,..,..,..,..,..,...,..,..,..,..,..,7.650000e+00,6.51,7.86,6.38,4.82
21,India,Urban_population,17.924,18.032,18.218,18.405,18.595,18.785,18.977,19.171,...,32.003,32.384,32.777,33.182,33.6,3.403000e+01,34.472,34.926,35.393,35.872
22,India,Birth_rate_crude,42.506,42.294,42.101,41.907,41.721,41.346,40.918,40.592,...,19.935,19.049,18.765,18.514,17.911,1.765100e+01,17.049,16.572,16.419,..
23,India,Gini_index,..,..,..,..,..,..,..,..,...,..,..,34.7,34.8,35.9,3.460000e+01,35.7,..,..,..

In [27]:
china_drop_countryname = sort_by_china.drop(columns="Country Name")
china_drop_countryname

,Series Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
18,Population_total,445954579,456351876,467024193,477933619,489059309,500114346,510992617,521987069,533431909,...,1291132063,1307246509,1322866505,1338636340,1354195680,1.369003e+09,1383112050,1396387127,1407563842,1417173173
19,GDP_per_capita,83.0351017584916,85.9697041171847,90.2768688575718,101.315164901321,115.487608265464,119.082475942029,89.7575826115815,96.0463297617622,99.5168360366295,...,1438.05699513067,1559.86377161811,1590.17432166504,1714.2795405846,1957.96981368095,1.974378e+03,2050.16378973235,1913.21972103493,2238.12713873311,2388.62119776762
20,UR,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,7.650000e+00,6.51,7.86,6.38,4.82
21,Urban_population,17.924,18.032,18.218,18.405,18.595,18.785,18.977,19.171,19.366,...,32.003,32.384,32.777,33.182,33.6,3.403000e+01,34.472,34.926,35.393,35.872
22,Birth_rate_crude,42.506,42.294,42.101,41.907,41.721,41.346,40.918,40.592,40.207,...,19.935,19.049,18.765,18.514,17.911,1.765100e+01,17.049,16.572,16.419,..
23,Gini_index,..,..,..,..,..,..,..,..,..,...,..,..,34.7,34.8,35.9,3.460000e+01,35.7,..,..,..

In [28]:
china_df_notcleaned = china_drop_countryname.transpose()
# Use the first row as the column names
china_df_notcleaned.columns = china_df_notcleaned.iloc[0]

# Drop the first row (previous integer index) since it's now redundant
china_df_notcleaned = china_df_notcleaned.iloc[1:]

# Print the DataFrame after updating the column names and dropping the first row
china_df_notcleaned

Series Name,Population_total,GDP_per_capita,UR,Urban_population,Birth_rate_crude,Gini_index
1960,445954579,83.0351017584916,..,17.924,42.506,..
1961,456351876,85.9697041171847,..,18.032,42.294,..
1962,467024193,90.2768688575718,..,18.218,42.101,..
1963,477933619,101.315164901321,..,18.405,41.907,..
1964,489059309,115.487608265464,..,18.595,41.721,..
...,...,...,...,...,...,...
2018,1369003306.0,1974.37773,7.65,34.03,17.651,34.6
2019,1383112050,2050.16378973235,6.51,34.472,17.049,35.7
2020,1396387127,1913.21972103493,7.86,34.926,16.572,..
2021,1407563842,2238.12713873311,6.38,35.393,16.419,..
2022,1417173173,2388.62119776762,4.82,35.872,..,..

In [29]:
china_df_reset = china_df_notcleaned.reset_index().rename(columns={"index":"Year"})
china_df_reset.head()

Series Name,Year,Population_total,GDP_per_capita,UR,Urban_population,Birth_rate_crude,Gini_index
0,1960,445954579,83.0351017584916,..,17.924,42.506,..
1,1961,456351876,85.9697041171847,..,18.032,42.294,..
2,1962,467024193,90.2768688575718,..,18.218,42.101,..
3,1963,477933619,101.315164901321,..,18.405,41.907,..
4,1964,489059309,115.487608265464,..,18.595,41.721,..

In [30]:
columns_mexico_regressor= ["Year","Population_total","GDP_per_capita","UR", "Urban_population", "Birth_rate_crude", "Gini_index" ]
regressors_country_mexico = china_df_reset[columns_mexico_regressor]
regressors_country_mexico

Series Name,Year,Population_total,GDP_per_capita,UR,Urban_population,Birth_rate_crude,Gini_index
0,1960,445954579,83.0351017584916,..,17.924,42.506,..
1,1961,456351876,85.9697041171847,..,18.032,42.294,..
2,1962,467024193,90.2768688575718,..,18.218,42.101,..
3,1963,477933619,101.315164901321,..,18.405,41.907,..
4,1964,489059309,115.487608265464,..,18.595,41.721,..
...,...,...,...,...,...,...,...
58,2018,1369003306.0,1974.37773,7.65,34.03,17.651,34.6
59,2019,1383112050,2050.16378973235,6.51,34.472,17.049,35.7
60,2020,1396387127,1913.21972103493,7.86,34.926,16.572,..
61,2021,1407563842,2238.12713873311,6.38,35.393,16.419,..
62,2022,1417173173,2388.62119776762,4.82,35.872,..,..

In [31]:
variables_by_state_raw = pd.read_csv("Resources/variables.csv")
variables_by_state_raw

     State and area    Year  Unemployeement  gdp per capita  Birth Rate
0           Alabama  2011.0           0.101     84712.25815        1.84
1            Alaska  2011.0           0.080    152118.02840        2.28
2           Arizona  2011.0           0.098     86862.74491        2.00
3          Arkansas  2011.0           0.080     79574.17412        2.00
4        California  2011.0           0.123    112385.61400        1.90
...             ...     ...             ...             ...         ...
7594            NaN     NaN             NaN             NaN         NaN
7595            NaN     NaN             NaN             NaN         NaN
7596            NaN     NaN             NaN             NaN         NaN
7597            NaN     NaN             NaN             NaN         NaN
7598            NaN     NaN             NaN             NaN         NaN

[7599 rows x 5 columns]

In [32]:
variables_by_state_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7599 entries, 0 to 7598
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   State and area  7344 non-null   object
 1   Year            7344 non-null   float64
 2   Unemployeement  7344 non-null   float64
 3   gdp per capita  7344 non-null   float64
 4   Birth Rate      7344 non-null   float64
dtypes: float64(4), object(1)
memory usage: 297.0+ KB

In [33]:
states_unique = variables_by_state_raw["State and area"].unique()
states_unique

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', nan], dtype=object)

In [34]:
variables_by_state_dropna = variables_by_state_raw.dropna()
variables_by_state_raw

     State and area    Year  Unemployeement  gdp per capita  Birth Rate
0           Alabama  2011.0           0.101     84712.25815        1.84
1            Alaska  2011.0           0.080    152118.02840        2.28
2           Arizona  2011.0           0.098     86862.74491        2.00
3          Arkansas  2011.0           0.080     79574.17412        2.00
4        California  2011.0           0.123    112385.61400        1.90
...             ...     ...             ...             ...         ...
7594            NaN     NaN             NaN             NaN         NaN
7595            NaN     NaN             NaN             NaN         NaN
7596            NaN     NaN             NaN             NaN         NaN
7597            NaN     NaN             NaN             NaN         NaN
7598            NaN     NaN             NaN             NaN         NaN

[7599 rows x 5 columns]

In [35]:

variables_by_state_raw.dropna(subset=["State and area"], inplace=True)

In [36]:
variables_by_state_raw

     State and area    Year  Unemployeement  gdp per capita  Birth Rate
0           Alabama  2011.0           0.101     84712.25815        1.84
1            Alaska  2011.0           0.080    152118.02840        2.28
2           Arizona  2011.0           0.098     86862.74491        2.00
3          Arkansas  2011.0           0.080     79574.17412        2.00
4        California  2011.0           0.123    112385.61400        1.90
...             ...     ...             ...             ...         ...
7339       Virginia  2022.0           0.031    114746.10490        0.00
7340     Washington  2022.0           0.045    144988.82520        0.00
7341  West Virginia  2022.0           0.041     91355.72972        0.00
7342      Wisconsin  2022.0           0.030    101577.61980        0.00
7343        Wyoming  2022.0           0.039    123796.72680        0.00

[7344 rows x 5 columns]

In [37]:
variables_by_state_rename = variables_by_state_raw.rename(columns={"State and area":"Sate","Unemployeement": "UR_STATE",
                                                                   "gdp per capita":"GDP_per_capita_state", "Birth Rate":"Bith_rate_state"  })
variables_by_state_rename

               Sate    Year  UR_STATE  GDP_per_capita_state  Bith_rate_state
0           Alabama  2011.0     0.101           84712.25815             1.84
1            Alaska  2011.0     0.080          152118.02840             2.28
2           Arizona  2011.0     0.098           86862.74491             2.00
3          Arkansas  2011.0     0.080           79574.17412             2.00
4        California  2011.0     0.123          112385.61400             1.90
...             ...     ...       ...                   ...              ...
7339       Virginia  2022.0     0.031          114746.10490             0.00
7340     Washington  2022.0     0.045          144988.82520             0.00
7341  West Virginia  2022.0     0.041           91355.72972             0.00
7342      Wisconsin  2022.0     0.030          101577.61980             0.00
7343        Wyoming  2022.0     0.039          123796.72680             0.00

[7344 rows x 5 columns]

In [38]:
# Convert the "year" column to string data type
variables_by_state_rename["Year"] = variables_by_state_rename["Year"].astype(str)
variables_by_state_rename['Year'] = variables_by_state_rename['Year'].astype(str).str.rstrip('.0')

# Multiply the "unemployment rate" column by 10
variables_by_state_rename["UR_STATE"] *= 10

In [39]:
variables_by_state_rename

               Sate  Year  UR_STATE  GDP_per_capita_state  Bith_rate_state
0           Alabama  2011      1.01           84712.25815             1.84
1            Alaska  2011      0.80          152118.02840             2.28
2           Arizona  2011      0.98           86862.74491             2.00
3          Arkansas  2011      0.80           79574.17412             2.00
4        California  2011      1.23          112385.61400             1.90
...             ...   ...       ...                   ...              ...
7339       Virginia  2022      0.31          114746.10490             0.00
7340     Washington  2022      0.45          144988.82520             0.00
7341  West Virginia  2022      0.41           91355.72972             0.00
7342      Wisconsin  2022      0.30          101577.61980             0.00
7343        Wyoming  2022      0.39          123796.72680             0.00

[7344 rows x 5 columns]

In [40]:
state_california_test = variables_by_state_rename[variables_by_state_rename["Sate"]=="California"]
state_california_test

            Sate  Year  UR_STATE  GDP_per_capita_state  Bith_rate_state
4     California  2011      1.23           112385.6140              1.9
55    California  2011      1.22           112414.2872              1.9
106   California  2011      1.21           112441.5537              1.9
157   California  2011      1.20           112455.2838              1.9
208   California  2011      1.20           112417.2386              1.9
...          ...   ...       ...                   ...              ...
7093  California  2022      0.38           150198.1273              0.0
7144  California  2022      0.40           149974.6034              0.0
7195  California  2022      0.41           149713.4946              0.0
7246  California  2022      0.41           149653.2042              0.0
7297  California  2022      0.41           149728.8137              0.0

[144 rows x 5 columns]

In [41]:
state_regression_california = state_california_test.drop(columns= "Sate").reset_index(drop=True)
state_regression_california

     Year  UR_STATE  GDP_per_capita_state  Bith_rate_state
0    2011      1.23           112385.6140              1.9
1    2011      1.22           112414.2872              1.9
2    2011      1.21           112441.5537              1.9
3    2011      1.20           112455.2838              1.9
4    2011      1.20           112417.2386              1.9
..    ...       ...                   ...              ...
139  2022      0.38           150198.1273              0.0
140  2022      0.40           149974.6034              0.0
141  2022      0.41           149713.4946              0.0
142  2022      0.41           149653.2042              0.0
143  2022      0.41           149728.8137              0.0

[144 rows x 4 columns]

In [42]:
#Dataframe for the Machine Learning Model
inmigration_mexico

    Year  Total_inmigrants  California
3   2012             66434       13951
12  2013             68458       13735
21  2014             77908       15770
30  2015             64116       12925
39  2016             64687       13241
48  2017             60394       11941
57  2018             59821       12617
66  2019             54495       11750
75  2020             46363        9569
84  2021             93450       17299

In [43]:
regressors_country_mexico

Series Name,Year,Population_total,GDP_per_capita,UR,Urban_population,Birth_rate_crude,Gini_index
0,1960,445954579,83.0351017584916,..,17.924,42.506,..
1,1961,456351876,85.9697041171847,..,18.032,42.294,..
2,1962,467024193,90.2768688575718,..,18.218,42.101,..
3,1963,477933619,101.315164901321,..,18.405,41.907,..
4,1964,489059309,115.487608265464,..,18.595,41.721,..
...,...,...,...,...,...,...,...
58,2018,1369003306.0,1974.37773,7.65,34.03,17.651,34.6
59,2019,1383112050,2050.16378973235,6.51,34.472,17.049,35.7
60,2020,1396387127,1913.21972103493,7.86,34.926,16.572,..
61,2021,1407563842,2238.12713873311,6.38,35.393,16.419,..
62,2022,1417173173,2388.62119776762,4.82,35.872,..,..

In [44]:
# Convert the "Year" column to int64 data type in both DataFrames
inmigration_mexico.loc[:, "Year"] = inmigration_mexico["Year"].astype(int)
regressors_country_mexico.loc[:, "Year"] = regressors_country_mexico["Year"].astype(int)


# Merge the two DataFrames on the "Year" column
df_ml_mexico = pd.merge(inmigration_mexico, regressors_country_mexico, on="Year", how="inner")
df_ml_mexico

C:\Users\MIRIAM\AppData\Local\Temp\ipykernel_13140\1814202541.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inmigration_mexico.loc[:, "Year"] = inmigration_mexico["Year"].astype(int)

,Year,Total_inmigrants,California,Population_total,GDP_per_capita,UR,Urban_population,Birth_rate_crude,Gini_index
0,2012,66434,13951,1274487215,1434.01797842656,3.22,31.634,20.421,..
1,2013,68458,13735,1291132063,1438.05699513067,..,32.003,19.935,..
2,2014,77908,15770,1307246509,1559.86377161811,..,32.384,19.049,..
3,2015,64116,12925,1322866505,1590.17432166504,..,32.777,18.765,34.7
4,2016,64687,13241,1338636340,1714.2795405846,..,33.182,18.514,34.8
5,2017,60394,11941,1354195680,1957.96981368095,..,33.6,17.911,35.9
6,2018,59821,12617,1369003306.0,1974.37773,7.65,34.03,17.651,34.6
7,2019,54495,11750,1383112050,2050.16378973235,6.51,34.472,17.049,35.7
8,2020,46363,9569,1396387127,1913.21972103493,7.86,34.926,16.572,..
9,2021,93450,17299,1407563842,2238.12713873311,6.38,35.393,16.419,..

In [45]:
df_ml_mexico_columns = df_ml_mexico.columns
df_ml_mexico_columns

Index(['Year', 'Total_inmigrants', 'California', 'Population_total',
       'GDP_per_capita', 'UR', 'Urban_population', 'Birth_rate_crude',
       'Gini_index'],
      dtype='object')

In [46]:
df_ml_mexico.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 0 to 9
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year              10 non-null     int32
 1   Total_inmigrants  10 non-null     int64
 2   California        10 non-null     int64
 3   Population_total  10 non-null     object
 4   GDP_per_capita    10 non-null     object
 5   UR                10 non-null     object
 6   Urban_population  10 non-null     object
 7   Birth_rate_crude  10 non-null     object
 8   Gini_index        10 non-null     object
dtypes: int32(1), int64(2), object(6)
memory usage: 760.0+ bytes

In [47]:
import numpy as np

# Convert the columns to numeric data types
df_ml_mexico['Population_total'] = df_ml_mexico['Population_total'].astype(float)
df_ml_mexico['GDP_per_capita'] = df_ml_mexico['GDP_per_capita'].astype(float)

# Replace non-numeric values with NaN in the 'UR' column
df_ml_mexico['UR'] = pd.to_numeric(df_ml_mexico['UR'], errors='coerce')

# Convert the 'Gini_index' column to a numeric data type
df_ml_mexico['Gini_index'] = pd.to_numeric(df_ml_mexico['Gini_index'], errors='coerce')

# Use forward fill to impute missing values in the regressor columns
df_ml_mexico.fillna(method='ffill', inplace=True)

df_ml_mexico

,Year,Total_inmigrants,California,Population_total,GDP_per_capita,UR,Urban_population,Birth_rate_crude,Gini_index
0,2012,66434,13951,1.274487e+09,1434.017978,3.22,31.634,20.421,NaN
1,2013,68458,13735,1.291132e+09,1438.056995,3.22,32.003,19.935,NaN
2,2014,77908,15770,1.307247e+09,1559.863772,3.22,32.384,19.049,NaN
3,2015,64116,12925,1.322867e+09,1590.174322,3.22,32.777,18.765,34.7
4,2016,64687,13241,1.338636e+09,1714.279541,3.22,33.182,18.514,34.8
5,2017,60394,11941,1.354196e+09,1957.969814,3.22,33.6,17.911,35.9
6,2018,59821,12617,1.369003e+09,1974.377730,7.65,34.03,17.651,34.6
7,2019,54495,11750,1.383112e+09,2050.163790,6.51,34.472,17.049,35.7
8,2020,46363,9569,1.396387e+09,1913.219721,7.86,34.926,16.572,35.7
9,2021,93450,17299,1.407564e+09,2238.127139,6.38,35.393,16.419,35.7

In [48]:
from prophet import Prophet

# Create a new DataFrame with only the columns needed for prediction
data_for_prophet = df_ml_mexico[['Year', 'Total_inmigrants', 'California', 'Population_total', 'GDP_per_capita', 'UR', 'Urban_population', 'Birth_rate_crude', 'Gini_index']].rename(columns={'Year': 'ds', 'Total_inmigrants': 'y'})

# Convert the "ds" column to datetime format
data_for_prophet['ds'] = pd.to_datetime(data_for_prophet['ds'], format='%Y')

# Replace missing values in regressor columns with the last available value of each regressor column
regressor_columns = ['Population_total', 'GDP_per_capita', 'UR', 'Urban_population', 'Birth_rate_crude', 'Gini_index']
for col in regressor_columns:
    last_year_data = df_ml_mexico.dropna(subset=[col], how='any').tail(1)
    last_year_value = last_year_data.iloc[0][col]
    data_for_prophet[col].fillna(last_year_value, inplace=True)

# Initialize and fit the model with regressors
model = Prophet()
for col in regressor_columns:
    model.add_regressor(col)
model.fit(data_for_prophet)

# Create a DataFrame with the future dates we want to predict (e.g., 2023)
future_dates = model.make_future_dataframe(periods=1, freq='Y')

# Change the format of the 'ds' column to integer (e.g., 2023)
future_dates['ds'] = future_dates['ds'].dt.year

# Add the regressor columns and set their values to the last available year value
for col in regressor_columns:
    future_dates[col] = last_year_value

# Make predictions for the future dates
forecast = model.predict(future_dates)

# Check if there are predictions for the year 2023
if (forecast['ds'] == 2023).any():
    prediction_2023 = forecast[forecast['ds'] == 2023]['yhat'].values[0]
    print("Predicted number of immigrants in California in 2023:", prediction_2023)
else:
    print("No predictions available for the year 2023.")

00:05:07 - cmdstanpy - INFO - Chain [1] start processing
00:05:08 - cmdstanpy - INFO - Chain [1] done processing

No predictions available for the year 2023.

In [49]:
#Predict without the regressors

# Create a new DataFrame with only the columns needed for prediction
data_for_prophet = df_ml_mexico[['Year', 'Total_inmigrants']].rename(columns={'Year': 'ds', 'Total_inmigrants': 'y'})

# Initialize and fit the model
model = Prophet()
model.fit(data_for_prophet)

# Create a DataFrame with the future dates we want to predict (e.g., 2023)
future_dates = model.make_future_dataframe(periods=1, freq='Y')

# Make predictions for the future dates
forecast = model.predict(future_dates)

# Extract the predicted value for 2023
if '2023-01-01' in forecast['ds'].astype(str).values:
    prediction_2023 = forecast[forecast['ds'] == '2023-01-01']['yhat'].values[0]
    print("Predicted number of immigrants in California in 2023:", prediction_2023)
else:
    print("No predictions available for the year 2023.")

00:05:08 - cmdstanpy - INFO - Chain [1] start processing
00:05:08 - cmdstanpy - INFO - Chain [1] done processing

No predictions available for the year 2023.